footer
  .inner-wrapper.inner-wrapper--clear
    .left
      h3
        | Contact Mike
        span.emoji(role='img' aria-label='Contact') &#x1F468;&zwj;&#x1F4BB;
      p Email or Tweet me, and I&apos;ll do my best to respond.
      p
    ul.nav
      li
        a(href='/') Home
      li
        a(href='https://twitter.com/mcarterj' target='_blank' rel='noopener noreferrer') Twitter
      li
        a(href='https://github.com/michaelcarter' target='_blank' rel='noopener noreferrer') GitHub
      li
        a(href='https://www.instagram.com/mike_j_carter' target='_blank' rel='noopener noreferrer') Instagram
      li
        a(href='mailto:mike@mcarter.me') Email
