include ../mixins/navLinks

footer
  .inner-wrapper.inner-wrapper--clear
    .left
      h3
        | Contact Mike
        span.emoji(role='img' aria-label='Contact') &#x1F468;&zwj;&#x1F4BB;
      p Email or Tweet me, and I&apos;ll do my best to respond.
      p
    +navLinks()
