extends ../../base.pug

include ../mixins/navigation.pug
include ../mixins/header.pug

block append vars
  -var pageTitle = "Things I wish I understood before starting an agency | Mike Carter"
  -var metaTitle = "Things I wish I understood before starting an agency"
  -var metaDescription = "In 2015 I started a digital agency. As an employee who made the switch to running a business, here are some things I wish I'd understood before starting."
  -var metaUrl = "https://mcarter.me/posts/before-you-start-an-agency"

block pageContent
  +navigation()
  article.article
    +header(
      "Things I wish I understood before starting an agency",
      "In 2015 I started a <a href='https://www.weareleaf.com' target='_blank' rel='noopener noreferrer'>digital agency</a>. As an employee who made the switch to running a business, here are some things I wish I'd understood before starting."
    )
    main.article__content.article__content--semi-narrow.article__content--padded
      h2 Keep learning
      p You'll find yourself needing to know a little on a broad range of subjects like finance, marketing, sales, management, business, economics, and law. You can learn these on an ad-hoc basis, but it's a time consuming process.
      p Podcasts and audiobooks are very helpful for building this knowledge. They allow dog walks, gym sessions, or long drives to double up as learning opportunities.

      h2 Sell your head
      p Some clients see you as a pair of hands, there to implement their ideas. Others will see you as a true expert in your field, there to guide their thinking.
      p Selling your expertise is where your true value lies, but it's hard to do if you're not seen as an expert from the beginning. Establish an expert position early on in each client relationship, and make sure your value is driven primarily from your ideas.

      h2 Work is not your product
      p Your agency may spend a lot of time writing code, but you're not paid for code. You may even build beautiful software products, but you're not paid for software either.
      p You are paid for delivering a desired outcome for each client you work with. Make sure there's no confusion about what this outcome is, keep it front and centre, and let it guide your decision making.

      h2 Value is subjective
      p The exact same work may worth £5,000, and £50,000 to two different clients. Take steps to figure out what value you're delivering, and charge an amount that keeps the exchange worthwhile for both parties.
      p This isn't greed, it's professionalism. By ensuring everyone involved benefits from a good work, you incentivise everyone to work together efficiently, effectively, and to the best of their ability.

      h2 People skills matter
      p You probably decided to start a business because you posess a set of valuable technical skills that you thought could be better put to use if you were your own boss.
      p While your technical knowledge is key, actually getting the opportunity to use it to deliver successful change to your clients will depend on your ability to understand, emphathise, translate, explain, teach, and lead.
      p Don't underestimate ths importance of developing these softer skills. Most technical employees are very shielded from the people side of the organisation they work in. As your own boss, you won't be.

      h2 Keep marketing
      p When you're busy, marketing can feel a bit like handing out flyers for a sold out gig. However, being constantly a little oversubscribed provides income stability, keeps you aware of new opportunities, increases the amount you can charge for your work, and lets you choose who to work with.
      p A good marketing funnel takes time to develop. You don't want to be scrambling to build one once you're already in a quiet period. Make time for marketing from the beginning, and improve as you go.

      h2 Pick a niche
      p You're probably able to use your skills to solve a broad range of problems for clients reasonably well. Unfortunately, so can loads of people.
      p Aim to be one of a few businesses with true expertise in doing what you do. This will make you an obvious choice for anyone looking for help with your niche. You'll also likely be solving the similar problems for each new client you work with, perpetuating a virtuous cycle of learning, experience, efficiency, and expertise.

      h2 Size matters
      p For an engagement with a lot of implementation work, clients will sometimes choose a larger, technically mediocre agency over your smaller technically brilliant one. This will seem like a lack of confidence in your technical abilities, but it's not.
      p From a business point of view, the deep bench and established nature of a larger agency just make them a safer bet when there's a lot of implementation work to be done.
      p When you're starting out, you can make yourself more attractive by building a bench of your own, developing specific expertise that makes you the obvious choice in spite of your size, and selling your knowledge rather than your implementation.

      h2 Build some runway
      p When you land your first big client, it can be tempting to feel like you've made it, and start spending. Resist this urge.
      p Before you're established, losing a client or having unexpected costs to deal with can easily topple your business. Having several months of payroll in the bank will give you room to manoeuvre, and peace of mind to make clear-headed decisions about how to move forward.
      p When you have employees, cash becomes even more important. Don't rely on luck. Know your burn rate, and give yourself a generous runway.

      h2 You can fire your clients
      p Sometimes a client relationship will degrade to the point of being unsalvageable. In those cases it can be appropriate to fire your client, and it's sometimes the best way forward for everyone involved.
      p A firing needn't be abrupt. You can wind things down over a month or two for a clean and easy break, or seamlessly transition the client over to someone else who's a better fit for their needs.

      h2 Grow without hiring
      p Hiring is not the only way to grow your business. You can stay physically small, but do more valuable work with larger clients as your expertise develops. Alternatively, you can build a bench freelancers while keeping your core team small, like a tap of expertise you can turn on or off as required.
      p At <a href='https://weareleaf.com' target='_blank' rel='noopener'>Leaf</a>, we've found a mix of hiring, and working with known and trusted freelance subject matter experts has helped to smooth out heavy workloads, and improved the quality of our output.

      h2 Anything can be a mentor
      p Mentorship will be incredibly valuable for helping you learn and make good decisions, but it doesn't need to be a one-on-one activity, or even come from a person.
      p A relevant blog post, podcast, audiobook, presentation, or online discussion group can all be forms of mentorship. Don't feel like if you're not constantly able to travel meet people you can't be mentored.

      h2 You can't outwork busy
      p If you've got too much on your plate, you need to work less, not more, to get on top of it. Trying to outwork busy doesn't work, because if you're doing your job right, each piece of work will result in even more work being offered back to you in return.
      p Like a throttle on a car, your pace of work needs to be consciously controlled to avoid a runaway acceleration and you repeatedly butting up against your physical and mental limits.

      h2 Remain dispassionate
      p Too much passion for your business will make your life an unbearable emotional rollercoaster. Your business isn't a success if it's making you miserable, and a lot of what happens will be outside of your circle of direct control.
      p From a certain perspective, your business is just a game. Treat it as such. Do your best, but don't expect to win every time, and don't get too emotionally invested.

      hr

      p If you enjoyed this blog post, you should follow me on <a href='https://twitter.com/mcarterj' target='_blank' rel='noopener'>Twitter</a>, where I'll be sharing similar content in the future.

  include ../includes/footer.pug
