extends ../../base.pug

include ../mixins/nav.pug
include ../mixins/header.pug

block append vars
  -var pageTitle = "Don't sweat your code - Mike Carter"
  -var metaTitle = "Don't sweat your code"
  -var metaDescription = "I love Twitter because it allows me to keep up with the latest goings on in my industry. However, it also often leaves me feeling like a fake, a failure, and like I'm missing out. Here's why, and what I intend to do about it."

block pageContent
  +nav()
  article
    +header(
      "Don't sweat your code <span class='emoji' role='img' aria-label='Smirking face'>&#128527;</span>",
      "We focus too much on optimising the minutiae of our code, while failing to pay attention to larger issues that affect the longevity of our projects. Read on to discover where you're wasting effort, and what to do about it."
    )
    main
      .inner-wrapper
        h2 First, some free financial advice

        p When we try to save for the future, we often begin by cutting down on the small things. No more expensive lattes, buying the cheaper brands at the supermarket, or going out less all seem like sensible ways to claw back a bit of cash at the end of the month.

        p However, most of us fail to take action on larger, longer term opportunities for wealth creation. Compounding interest on bad debt, uninvested savings eroded by inflation, purchasing liabilities instead of assets, and even watching our diet and exercise somehow seem less important.

        p We invest our finite time and willpower in saving tens or hundreds of pounds each month, while missing the very effort opportunities that add up to hunreds of thousands, or even millions extra over a 40 year time span. We're optimising the minutiae.

        h2 How does this relate to code?

        p When we build software, we often optimise the minutiae of our code too. Take the following exmaple:

        p PICTURE OF CODE HERE

        p Whether you know JavaScript or not, you can probably see this function is a bit of a mess. Given the simple task it's performing, it's comparitively hard to understand, fails to make use of some built-in functions, and has inconsistent formatting.

        p However, the worst thing about this function is isn't what sits within the curly brackets, it's actually the function name. FUNCTION NAME Is both misleading and ambiguous. Any developer that wants to use this function is likely to come to the wrong conclusion about what it does, and then have to go find, read, and understand the function definition in order to use it.

        p From that perspective, the actual code within the function is practically a non-issue. It works just fine, after all, so why invest time in changing it? We could have far larger impact on the future of this codebase by spending a couple of seconds renaming it to something like FUNCTION NAME. Suddenly, every future maintainer can confidently use it without needing to find, read, and understand the function definition. We've invested a tiny amount of effort, and saved a lot of wasted time in the future.

        h2 But this seems lazy?

        p It's not, it's pragmatic. Although fast, beautiful code is something we should strive for, we're not actually paid to write beautiful code. We're paid to help achieve a business outcome.

        p Focussing on improvements that affect the long term maintainability of our software is time much better spent than short-term optimisations and prettifying.

        p This isn't to say you shouldn't care about readability, performance, succinctness, repetition, or any other "good code" concept. Sometimes these can even be the highest priority improvement you can work on. All too often though, we focussing on the wrong improvements. We're saying no the expensive lattes, while slowly drowning in compounding interest on other debts.





        hr

        p If you enjoyed this blog post, you should follow me on <a href='https://twitter.com/mcarterj' target='_blank' rel='noopener'>Twitter</a>, where I'll be sharing similar content in the future. I promise not to make you feel bad about yourself!

  include ../includes/footer.pug
