extends ../../base.pug

include ../mixins/navigation.pug
include ../mixins/header.pug
include ../mixins/tip.pug

block append vars
  -var pageTitle = "Free | Mike Carter"
  -var metaTitle = "Free"
  -var metaDescription = "I started working as a freelance development consultant in April 2021. 6 months and almost £50,000 later, here are a few of my biggest mistakes."
  -var metaUrl = "https://mcarter.me/posts/mistakes-from-6-months-of-freelancing"

block cssIncludes
  link(rel='stylesheet' type='text/css' href='/assets/styles/blog.css' media='screen')

block pageContent
  +navigation()
  article.article
    +header(
      "Most freelancers are in a dead-end job",
      "Easy money, gentle hours, and total freedom? Here’s what nobody’s telling you about going solo."
    )

    main.article__content.wrapper-article
      p When you first make the jump to freelance software development or development consultancy, completing a first bit of paid work is your obvious goal. Once you’ve achieved that, regularly making enough to support yourself or your family becomes the next goal. And once that’s out of the way it’s time to fill up the calendar and maybe even charge a bit more.

      p For most freelancers, this is where the journey ends - A calendar full of work, with marginal rate increases in return for marginal improvements in effectiveness each year. They’re freelancing proficiently and sustainably, but they're in a dead-end job.

      p There’s nothing wrong with this. Freelancing is a great way to make a very comfortable living, especially in tech. However, if you’re the type of person who’s motivated to work by climbing a career ladder, freelancing can easily be a road to nowhere, even if it's quite lucrative.

      p While struggling with my own feelings of freelance dead-endedness, I decided to put together a comparison showing features of a job, and features of a career.


      h2 How to freelance as a career 

      h3 Specialise
      
      h3 Generate consistent demand for specialisation
      
      h3 Take on more prestigious clients &amp; do more valuable work

      h3 Share learnings and produce content

      h3 Remain consistent

      
      p If you’d like to see how this goes for me, you should <a href="https://twitter.com/mcarterj" rel="noopener" target="_blank">follow me on Twitter</a> where I’ll be posting smaller short-form updates on my freelancing between larger 6 month blog posts from now on. I also have a <a href="https://mcarter.me/rss.xml" rel="noopener" target="_blank">RSS feed</a> on this site if you’d just like to keep track of new posts on this blog.

  include ../includes/footer.pug
