extends ../../base.pug


include ../mixins/header.pug

block append vars
  -var pageTitle = "Moving on from Leaf | Mike Carter"
  -var metaTitle = "Moving on from Leaf"
  -var metaDescription = "Leaf is closing its doors in April 2021. Here's why we're winding down a profitable agency business, and what I plan to do with myself next."
  -var metaUrl = "https://mcarter.me/posts/moving-on-from-leaf"
  -var metaType = "article"

block pageContent
  section
    article
      +header(
        "Moving on from Leaf",
        "Leaf is closing its doors in April 2021. Here's why we're winding down a profitable agency business, and what I plan to do next."
      )
      main
        img.article-image(src="/assets/images/posts/moving-on-from-leaf/leaf-logo.png" alt="The Leaf Logo")

        p In 2015, <a href="http://chrisannetts.com" target="_blank" rel="noopener">Chris Annetts</a> and I set up our small remote digital agency, <a href="https://weareleaf.com" target="_blank" rel="noopener">Leaf</a>, while we were still employed at our previous jobs. We went full time with Leaf in 2016, and have enjoyed a great deal of success over the last 5 years thanks to a combination of amazing clients, a smart and hard-working team, and loyal friends within the industry. However, a short while ago I approached Chris about wanting to wind the company down and my desires to pursue a solo development career.

        h2 Why I'm going solo
        p I did a lot of introspection at the start of 2021, and decided I'd like to change my work in three big ways that weren't compatible with running an agency full time.

        h3 Control over my time
        p My 20s were a bit of a blur. Much of that time was spent working hard to do grown-up things like buy a house, get experience in your chosen career, and save/invest any spare money I had for the future. I did a lot outside of work too, but I was always going with the flow, rather than making deliberate decisions about how I lived.

        p I'm now 32, and while I love my work, I want to be more careful with how I spend my time. Going solo will give me more flexibility to arrange my work around my life, rather than my life around my work. This doesn't necessarily mean I'll work fewer hours overall, but it does mean waving goodbye to the restrictions of a standard 9 to 5.

        h3 Trying new things
        p Throughout my career I've found it difficult to make time to experiment with new technologies, ideas, and directions, despite having a strong desire to do so. Commitments to organisations, clients, and employees have always come first.

        p Going solo allows me to make quick decisions around my work and take bigger risks knowing I'm not going to impact negatively on others. If I want to spend hours a week on a digital product, I can just decide to do so. If I want to try a different approach to anything, I can just do that too.

        h3 Playing to my strengths
        p I like to work closely with people on code and product problems, and I'm naturally suited to long periods of singularly-focused effort. I'm good at this, and it's always made me happy, so it seems wrong not to work in this way as much as I can.

        p Unfortunately, running an agency demands a lot of shallow work time that just doesn't gel with my particular brain chemistry. The more Leaf grew, the more it became apparent I was heading in a direction that took me away from the work I loved.

        h2 What I'll be doing next

        h3 Consulting
        p From April 2021 I'll be working as a freelance development consultant with a focus on helping organisations get digital products to market. I love all the new technologies available on the web today, but I believe we've over-complicated web application development to an absurd degree as an industry. I'd like to work against that trend by helping organisations get their digital products off to the best start with solid foundations, room to scale, and costs under control.

        h3 Product development
        p Alongside my freelancing, I'll be taking time each week to begin building my own digital product. This will dovetail nicely in with my client work, showing I practice what I preach, but will also help contribute towards growing my streams of income over the next few years.

        h3 Writing
        p Lastly, I'm going to be blogging about my journey as a solo developer and consultant. I'll keep things open by sharing details on the financials of the endeavour as I go, as well as other juicy insights as I build in public.

        p If you'd like to follow me on my journey, I'll be sharing everything on <a href='https://twitter.com/mcarterj' target='_blank' rel='noopener'>Twitter</a>. I also have a <a href="https://mcarter.me/rss.xml" rel="noopener" target="_blank">RSS feed</a> on this site if you're cool like that. There'll be more tweets than blog posts, but I aim to keep it valuable and non-grifty on both fronts.
