extends ../../base.pug

block append vars
  -var pageTitle = "Freelancing update - August 2021 | Mike Carter"
  -var metaTitle = "Freelancing update - August 2021"
  -var metaDescription = "Revenue and reflections on my fifth month of working as a freelance development consultant."
  -var metaUrl = "https://mcarter.me/posts/update-august-2021"
  -var metaType = "article"
  -var isBlogPost = true



block pageContent
  section
    article
      +header("Freelancing update - August 2021", "Revenue and reflections on my fifth month of working as a freelance development consultant.")

      main
        p August was a mixed bag. I failed to achieve one of my goals, and the feelings of burnout continued. However, I felt like I did good work in spite of this, and I’m proactively taking steps to address my burnout and get back to feeling normal.

        h2 Stats for August

        table.table
          tr
            th Month
            th Site views
            th Post views
            th Twitter profile views
            th Enquiries
            th Days off
            th Revenue
          tr
            th April 2021
            td 1,137
            td 749
            td 4,800
            td 2
            td 0
            td £7,800
          tr
            th May 2021
            td 1,263
            td 3,144
            td 4,660
            td 1
            td 5
            td £4,200
          tr
            th June 2021
            td 1,192
            td 549
            td 6,620
            td 1
            td 0
            td £6,700
          tr
            th July 2021
            td 1,160
            td 596
            td 3,330
            td 1
            td 2
            td £11,800
          tr
            th August 2021
            td 1,042
            td 493
            td 1,511
            td 3
            td 4
            td £6,200

        h3 Revenue
        p I issued invoices for <strong>£6,200</strong> (~$8,579) excluding <a href="https://www.gov.uk/vat-businesses" rel="noopener" target="_blank">VAT</a> in August. These came from a mixture of consulting and development work for two different clients, all of this work was billed on an hourly basis.

        h3 Enquiries
        p I received <strong>3 new work enquiries</strong> in August:

        ul
          li My first enquiry came from a business in the Netherlands looking for development assistance. I didn’t have the availability to take this on, but after sharing some speculative pricing with them they indicated that I would have been too expensive for them anyway.
          li My second enquiry came from a former colleague who was looking for a trustworthy developer to potentially help with a development project later this year. I indicated that I probably wouldn’t have availability, but otherwise this is still open.
          li  My third enquiry was from a former client looking for some technical consulting on their rapidly growing startup. It looks like we’ve managed to work out a good arrangement here, and so I’ll be spending whatever spare time I have each week helping them from early October.

        h3 Marketing
        p I put together a small blog post about software <a href="/posts/testing-and-tradeoffs">testing and tradeoffs</a> in August which did <em>ok</em>, with about 100 views from a social sharing on Twitter and LinkedIn alone.

        p I prioritised paid work over a social media presence in August to help avoid the feelings of burnout I’ve been experiencing recently. Due to this, my Twitter stats for the month were poor.

        img(src="/assets/images/posts/update-august-2021/twitter-stats.jpg" alt="A screenshot of my Twitter analytics for August 2021. It shows 41 tweets, 12,300 tweet impressions, 1,511 profile visits, 30 mentions, and 393 followers.")

        p I need to do better with my marketing efforts if I’m to see meaningful improvements in these numbers. However, while I have work to do and enquiries coming in for more work than I can take on, I’m not too worried.

        h2 Avoiding burnout

        p The feeling of creeping burnout I mentioned in <a href="/posts/update-july-2021">July’s update</a> was still there in August. I’ve been tired, slightly brain fogged, and have struggled to concentrate. I’m still motivated to do work, but staying focussed enough to do it is proving difficult, and the sense of purpose isn’t there like it has been.

        p As a freelancer, clients depend on me being available and consistent. Knowing this creates a strong temptation to work longer hours in order to make up for my own inefficiencies. However, if I were to do this, I’d be left with a vicious cycle of work followed by burnout, followed by more work, followed by more burnout. It wouldn’t fix anything.

        p Instead, I’ve been reducing my work quantity to preserve work quality. I’m taking less on than I normally would each day, but I’m using a full normal working day to do it. This means invoicing less than I otherwise might, but it preserves client expectations of quality, and puts me on a positive track to get back to normal.

        p In addition to reducing my daily workload, I’ll also be using a holiday I’ve booked for the second half of September to take a break from technology, trying to keep my screen time (across all devices) to under an hour a day. I’ve no idea if this will make a difference, but it feels like it might.

        h2 Goals for September

        p My goals for September are fairly simple and focussed on avoiding burning out.

        ol
          li Maintain work quality over quantity.
          li Use my holiday time to rest up and avoid the Internet as much as possible.

        p That’s all for August! You should <a href="https://twitter.com/mcarterj" rel="noopener" target="_blank">follow me on Twitter</a> if you want to see how this freelancing adventure develops for me. I also have a <a href="https://mcarter.me/rss.xml" rel="noopener" target="_blank">RSS feed</a> on this site if you’d just like to keep track of new posts on this blog.
