include svg.pug


mixin companyLogos(c)
  .company-logos
    ul.company-logos__list
      li.company-logos__item
        +svg("rift")
      li.company-logos__item
        +svg("laced")
      li.company-logos__item
        +svg("holiday-extras")
      li.company-logos__item
        +svg("zendesk")
      li.company-logos__item
        +svg("heha")

