include svg.pug

mixin companyLogos(c)
  .company-logos
    ul.company-logos__list
      li.company-logos__item
        a(href="https://riftrefunds.co.uk" rel="noopener" target="_blank" alt="RIFT's website")
          +svg("rift")
      li.company-logos__item
        a(href="https://laced.co.uk" rel="noopener" target="_blank" alt="Laced's website")
          +svg("laced")
      li.company-logos__item
        a(href="https://holidayextras.co.uk" rel="noopener" target="_blank" alt="Holiday Extras' website")
          +svg("holiday-extras")
      li.company-logos__item
        a(href="https://zendesk.co.uk" rel="noopener" target="_blank" alt="Zendesk's website")
          +svg("zendesk")
      li.company-logos__item
        a(href="https://heha.com" rel="noopener" target="_blank" alt="HEHA's website")
          +svg("heha")
      li.company-logos__item
        a(href="https://allocate.co.uk" rel="noopener" target="_blank" alt="Allocate's website")
          +svg("allocate")

