mixin header(title, subtitle)
  header.full-section.full-section--top.header
    .full-section__inner
      +navigation
      .header__content
        h1.header__title!=title
        p.header__subtitle!=subtitle
        block

