mixin header(title, subtitle, mainHeader)
  if mainHeader
    header.header
      .header__content
        h1
          a(href="/")!=title
        p.header__lead!=subtitle
      .header__aside
        img(src="/assets/images/me.webp", alt="Mike Carter" width="208" height="208" loading="lazy")
  else
    header.header.header--blog
      .header__content
        h1!=title
        p.header__lead!=subtitle
