mixin sectionHeading(title, iconType)
  .section-heading
    if iconType === 'work'
      svg.section-heading__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false")
        rect(x="2" y="7" width="20" height="14" rx="2" ry="2")
        path(d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16")
    else if iconType === 'projects'
      svg.section-heading__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false")
        polyline(points="16 18 22 12 16 6")
        polyline(points="8 6 2 12 8 18")
    else if iconType === 'writing'
      svg.section-heading__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false")
        path(d="M12 19l7-7 3 3-7 7-3-3z")
        path(d="M18 13l-1.5-7.5L2 2l3.5 14.5L13 18l5-5z")
        path(d="M2 2l7.586 7.586")
        circle(cx="11" cy="11" r="2")
    h2=title
