mixin socialLinks(className)
  div(class=className)
    a.icon-button(href="mailto:mike@mcarter.me" aria-label="Email")
      img.icon-button__icon(src="/assets/images/icons/email.svg" alt="")
      span Email
    a.icon-button(href="https://www.linkedin.com/in/mike-carter-097b9855/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn")
      img.icon-button__icon(src="/assets/images/icons/linkedin.svg" alt="")
      span LinkedIn
    a.icon-button(href="https://x.com/mcarterj" target="_blank" rel="noopener noreferrer" aria-label="X")
      img.icon-button__icon(src="/assets/images/icons/x.svg" alt="")
      span Twitter (X)
