mixin socialLinks(className)
  div(class=className)
    a.social-links__link(href="mailto:mike@mcarter.me" aria-label="Email")
      img.social-links__icon(src="/assets/images/icons/email.svg" alt="")
    a.social-links__link(href="https://www.linkedin.com/in/mike-carter-097b9855/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn")
      img.social-links__icon(src="/assets/images/icons/linkedin.svg" alt="")
    a.social-links__link(href="https://x.com/mcarterj" target="_blank" rel="noopener noreferrer" aria-label="X")
      img.social-links__icon(src="/assets/images/icons/x.svg" alt="")
