include svgs/heha.pug
include svgs/holidayExtras.pug
include svgs/laced.pug
include svgs/rift.pug
include svgs/zendesk.pug
include svgs/allocate.pug

include svgs/map.pug
include svgs/presentation.pug
include svgs/presentation_2.pug
include svgs/desk.pug
include svgs/report.pug
include svgs/consulting.pug
include svgs/coding.pug

mixin svg(name)
  if name === 'heha'
    +heha()
  else if name === 'holiday-extras'
    +holidayExtras()
  else if name === 'laced'
    +laced()
  else if name === 'rift'
    +rift()
  else if name === 'zendesk'
    +zendesk()
  else if name === 'allocate'
    +allocate()
  else if name === 'map'
    +map()
  else if name === 'presentation'
    +presentation()
  else if name === 'presentation2'
    +presentationTwo()
  else if name === 'desk'
    +desk()
  else if name === 'report'
    +report()
  else if name === 'consulting'
    +consulting()
  else if name === 'coding'
    +coding()
