include svgs/map.pug
include svgs/presentation.pug
include svgs/presentation_2.pug
include svgs/desk.pug
include svgs/report.pug
include svgs/consulting.pug
include svgs/coding.pug

mixin svg(name)
  if name === 'map'
    +map()
  else if name === 'presentation'
    +presentation()
  else if name === 'presentation2'
    +presentationTwo()
  else if name === 'desk'
    +desk()
  else if name === 'report'
    +report()
  else if name === 'consulting'
    +consulting()
  else if name === 'coding'
    +coding()
