mixin topNav()
  header.top-nav
    .top-nav__brand
      img.top-nav__photo(src="/assets/images/me.webp", alt="Mike Carter" width="208" height="208" loading="lazy")
      span.top-nav__title
        a(href="/") Mike Carter
    nav.top-nav__nav
      a.top-nav__nav-link(href="/#work-history")
        img.top-nav__nav-icon(src="/assets/images/icons/work.svg" alt="" aria-hidden="true")
        span.top-nav__nav-text Work
      a.top-nav__nav-link(href="/#projects")
        img.top-nav__nav-icon(src="/assets/images/icons/projects.svg" alt="" aria-hidden="true")
        span.top-nav__nav-text Projects
      a.top-nav__nav-link(href="/#writing")
        img.top-nav__nav-icon(src="/assets/images/icons/writing.svg" alt="" aria-hidden="true")
        span.top-nav__nav-text Writing
