mixin topNav()
  header.top-nav
    a.top-nav__logo(href="/")
      img(src="/assets/images/logo.webp" alt="Mike Carter Logo" width="50px")
    nav.top-nav__nav
      a.button.button--large(href="/#work-history")
        img.button__icon(src="/assets/images/icons/work.svg" alt="" aria-hidden="true")
        span.button__label Work
      a.button.button--large(href="/#projects")
        img.button__icon(src="/assets/images/icons/projects.svg" alt="" aria-hidden="true")
        span.button__label Projects
      a.button.button--large(href="/#writing")
        img.button__icon(src="/assets/images/icons/writing.svg" alt="" aria-hidden="true")
        span.button__label Writing
      button.top-nav__theme-toggle.button.button--large(type="button" aria-label="Toggle dark mode")
        img.button__icon.theme-icon(src="/assets/images/icons/lightbulb-on.svg" alt="" aria-hidden="true")
    button.top-nav__burger.button.button--large(type="button" popovertarget="mobile-menu" aria-label="Open menu" aria-expanded="false")
      img.button__icon(src="/assets/images/icons/menu.svg" alt="" aria-hidden="true")
  nav#mobile-menu.mobile-menu(popover="auto")
    button.mobile-menu__close.button.button--large(type="button" popovertarget="mobile-menu" popovertargetaction="hide" aria-label="Close menu")
      img.button__icon(src="/assets/images/icons/close.svg" alt="" aria-hidden="true")
    .mobile-menu__links
      a.mobile-menu__link(href="/")
        img.mobile-menu__link-icon(src="/assets/images/icons/home.svg" alt="" aria-hidden="true")
        span Home
      a.mobile-menu__link(href="/#work-history")
        img.mobile-menu__link-icon(src="/assets/images/icons/work.svg" alt="" aria-hidden="true")
        span Work
      a.mobile-menu__link(href="/#projects")
        img.mobile-menu__link-icon(src="/assets/images/icons/projects.svg" alt="" aria-hidden="true")
        span Projects
      a.mobile-menu__link(href="/#writing")
        img.mobile-menu__link-icon(src="/assets/images/icons/writing.svg" alt="" aria-hidden="true")
        span Writing
    button.mobile-menu__theme-toggle.top-nav__theme-toggle.button.button--large(type="button" aria-label="Toggle dark mode")
      img.button__icon.theme-icon(src="/assets/images/icons/lightbulb-on.svg" alt="" aria-hidden="true")
