extends ../base.pug

include mixins/navigation.pug
include mixins/header.pug
include mixins/twoThirdsSection.pug
include mixins/companyLogos.pug
include mixins/contactButton.pug
include mixins/testimonials.pug

block prepend vars
  -var bodyClass = "home"

block cssIncludes
  link(rel="preload" href="/assets/styles/showcase.css" media="screen" as="style" onload="this.onload=null;this.rel='stylesheet'")
  noscript
    link(rel="stylesheet" media="screen" href="/assets/styles/showcase.css")

block pageContent
  +navigation

  +header(
    "Digital products<br/> derisked",
    "I’m Mike Carter, a <strong>web application development consultant</strong> who brings digital products to market with solid foundations, room to scale, and costs under control.",
    true
  )
    a.button.button--primary(href="/services") Services &amp; Contact

  main
    section.half-section
      .half-section__inner
        .half-section__image-title-container
          h2.half-section__title A guide through the unknown
          .half-section__image
            +svg("map")
        .half-section__content
          p.lead Developing a digital product is often expensive, slow, and offers little return on investment. In an unregulated industry, choosing a competent development partner is risky.
          p My goal is to derisk your digital product development journey. I combine true technical expertise, extensive industry experience, and excellent communication skills to bring quality, scaleable software to market that generates real value for your business.

      .half-section__inner
        .half-section__image-title-container
          h2.half-section__title Someone who understands
          .half-section__image
            +svg("presentation")
        .half-section__content
          p.lead It can be hard to move quickly in a business environment. There are tradeoffs to be made, stakeholders to win over, value to prove, priorities that change, and blockers to avoid.
          p I’ve spent the past decade working to become adept at delivering software in these conditions. I’ll work closely with the relevant stakeholders in your business to make sure there’s a clear shared vision for your product that's aligned with your strategic objectives.

    section.full-section.full-section--highlight
      .full-section__inner.full-section__inner--wide
        h3.hidden Testimonials

        +testimonials([
          {
            src: "/assets/images/testimonials/bradleypost.jpeg",
            alt: "Bradley Post",
            author: "Bradley Post, CEO",
            text: "Mike has been brilliant for RIFT; he has led numerous successful development projects, and his calm, measured and pragmatic delivery approach immediately instils confidence. He quickly understands the business issues we’re trying to solve and develops practical solutions to drive the business forwards.",
            logoSrc: "client-logos/myrift.svg",
            logoTitle: "RIFT Limited",
            logoHref: "https://www.riftrefunds.co.uk"
          },
          {
            src: "/assets/images/testimonials/annadivers.jpeg",
            alt: "Anna Divers",
            author: "Anna Divers, Product & Design Director",
            text: "Mike’s experience, pragmatism and humility helped him immediately gain the trust and respect of our team. As a legacy from his engagement, we’re equipped with understanding how to improve our product development cycles, front-end developement environment and approach.",
            logoSrc: "client-logos/purplebricks.svg",
            logoTitle: "Purplebricks",
            logoHref: "https://www.purplebricks.co.uk"
          },
          {
            src: "/assets/images/testimonials/charlesholdsworth.jpeg",
            alt: "Charles Holdsworth",
            author: "Charles Holdsworth, CEO",
            text: "Mike has not only performed exceptionally well on two projects for me, but stepped in to help when an issue arose with a former developer.  Without assistance he methodically unravelled older systems in order to understand their structure and setup. His assistance has been invaluable.",
            logoSrc: "client-logos/allocate.svg",
            logoTitle: "Allocate",
            logoHref: "https://www.allocate.co.uk"
          }
        ])

    +twoThirdsSection("A safe pair of hands", "desk", false)
      p.lead It’s all too common for software development projects to go off the rails, costing time, money and opportunity with an inexperienced development partner.
      p I’ve built products for businesses of many different sizes and in many different sectors over the past decade. I know my onions, but I also know when there's value in defering to subject matter experts for a second opinion or additional development support.
      a.button.button--primary(href="/services") Services &amp; Contact

  include includes/footer.pug
