extends ../base.pug

include mixins/navigation.pug
include mixins/header.pug
include mixins/twoThirdsSection.pug
include mixins/companyLogos.pug
include mixins/contactButton.pug
include mixins/testimonials.pug

block prepend vars
  -var bodyClass = "home"

block cssIncludes
  link(rel="preload" href="/assets/styles/showcase.css" media="screen" as="style" onload="this.onload=null;this.rel='stylesheet'")
  noscript
    link(rel="stylesheet" media="screen" href="/assets/styles/showcase.css")

block pageContent
  +navigation

  +header(
    "Digital products<br/> derisked",
    "I’m Mike Carter, a <strong>web application development consultant</strong> who brings digital products to market with solid foundations, room to scale, and costs under control.",
    true
  )
    a.button.button--primary(href="/services") Services &amp; Contact

  main
    section.half-section
      .half-section__inner
        .half-section__image-title-container
          h2.half-section__title A guide through the unknown
          .half-section__image
            +svg("map")
        .half-section__content
          p.lead Developing a digital product is often expensive, slow, and offers little return on investment. In an unregulated industry, choosing a competent development partner is risky.
          p My goal is to derisk your digital product development journey. I combine true technical expertise, extensive industry experience, and excellent communication skills to bring quality, scaleable software to market that generates real value for your business.

      .half-section__inner
        .half-section__image-title-container
          h2.half-section__title Someone who understands
          .half-section__image
            +svg("presentation")
        .half-section__content
          p.lead It can be hard to move quickly in a business environment. There are tradeoffs to be made, stakeholders to win over, value to prove, priorities that change, and blockers to avoid.
          p I’ve spent the past decade working to become adept at delivering software in these conditions. I’ll work closely with the relevant stakeholders in your business to make sure there’s a clear shared vision for your product that's aligned with your strategic objectives.

    section.full-section.wrapper-semi-wide
      h3.hidden Testimonials

      +testimonials([
        {
          src: "/assets/images/testimonials/bradleypost.jpeg",
          alt: "Bradley Post",
          author: "Bradley Post, CEO of RIFT",
          text: "Mike has been brilliant for RIFT; he has led numerous successful development projects, and his calm, measured and pragmatic delivery approach immediately instils confidence. He quickly understands the business issues we’re trying to solve and develops practical solutions to drive the business forwards."
        },
        {
          src: "/assets/images/testimonials/charlesholdsworth.jpeg",
          alt: "Charles Holdsworth",
          author: "Charles Holdsworth, Director of Airspace Software",
          text: "Mike has not only performed exceptionally well on two projects for me, but stepped in to help when an issue arose with a former developer.  Without assistance he methodically unravelled older systems in order to understand their structure and setup. His assistance has been invaluable."
        }
      ])

      h4.hidden Trusted by

      +companyLogos([
        {
          alt: "RIFT’s website",
          url: "https://riftrefunds.co.uk",
          fileName: "client-logos/myrift.svg",
          ariaLabel: "RIFT",
          width: 138,
          height: 56,
        },
        {
          alt: "Allocate’s website",
          url: "https://allocate.co.uk",
          fileName: "client-logos/allocate.svg",
          ariaLabel: "Allocate",
          width: 123,
          height: 56
        },
        {
          alt: "Laced’s website",
          url: "https://laced.co.uk",
          fileName: "client-logos/laced.svg",
          ariaLabel: "Laced",
          width: 160,
          height: 32
        },
        {
          alt: "Holiday Extras’ website",
          url: "https://holidayextras.co.uk",
          fileName: "client-logos/holiday-extras.svg",
          ariaLabel: "Holiday Extras",
          width: 160,
          height: 27
        },
        {
          alt: "HEHA’s website",
          url: "https://heha.com",
          fileName: "client-logos/heha.svg",
          ariaLabel: "HEHA",
          width: 84,
          height: 48
        },
        {
          alt: "Zendesk’s website",
          url: "https://zendesk.co.uk",
          fileName: "client-logos/zendesk.svg",
          ariaLabel: "Zendesk",
          width: 136,
          height: 28
        }
      ])

    +twoThirdsSection("A safe pair of hands", "desk", false)
      p.lead It’s all too common for software development projects to go off the rails, costing time, money and opportunity with an inexperienced development partner.
      p I’ve built products for businesses of many different sizes and in many different sectors over the past decade. I know my onions, but I also know when there's value in defering to subject matter experts for a second opinion or additional development support.
      a.button.button--primary(href="/services") Services &amp; Contact

  include includes/footer.pug
