extends ../base.pug

include mixins/nav.pug
include mixins/header.pug
include mixins/twoThirdsSection.pug
include mixins/halfSection.pug
include mixins/companyLogos.pug

block prepend vars

block pageContent
  +navLinks

  +header(
    "Digital products done properly",
    "Hi, I’m Mike. I’ll bring your digital product to market with solid foundations, room to scale, and costs under control.",
    true
  )

  main
    .inner-wrapper
      +companyLogos()

      .half-section__container
        +halfSection("A guide through the unknown", "guide")
          p.lead Traditionally, developing a digital product is an expensive, time consuming endeavour that frequently offers little return on investment. What’s more, professional software development is completely unregulated, making choosing a competent development partner a risky proposition.

          p My goal is to de-risk your digital product development journey. I combine true technical expertise, extensive industry experience, and excellent communication skills to bring your product to market in the form of a quality, scaleable piece of software that generates real value for your business.

        +halfSection("Someone who understands", "business")
          p.lead It can be hard to move quickly in a business environment. There are tradeoffs to be made, stakeholders to win over, value to prove, priorities that change, and blockers to avoid.

          p I’ve spent the past decade working to become adept at delivering software in these conditions. I’ll work closely with the relevant stakeholders in your business to make sure there’s a clear shared vision for your product aligned with your strategic objectives.

    .inner-wrapper.inner-wrapper--semi-wide
      section.full-section
        h2 Services
        .full-section__content
          .full-section__sub-section
            h3 Product audits
            p.lead If your digital product is slow, buggy, or simply not converting as well as you’d expected, then this is for you.

            p For £749 I’ll perform a deep dive into your digital product provide you with a bespoke analysis report detailing actions you can take to fix a specific issue.

          .full-section__sub-section
            h3 Product consultancy
            p.lead If you’re looking to start something new, or would like long-term technical help, I can help guide decision making.

            p I'll work closely with you to guide technical decision making in accordance with your objectives, while speaking a language you understand.

          .full-section__sub-section
            h3 Product development
            p.lead For a fixed price, I’ll work on your digital product, helping you to achieve a clear return on investment for your business.

            p I’ll coordinate with stakeholders in your business to establish clear requirements, and then deliver expertly crafted software that fully realises your vision.

      .inner-wrapper
        +twoThirdsSection("A safe pair of hands", "safe-hands", false)
          p.lead It’s all too common for software development projects to go off the rails. Typically losing time, money and opportunity with with an inexperienced development partner.

          p I’ve built products for businesses of many different sizes and in many different sectors over the past decade. I know my onions, but I also know when there's value in defering to subject matter experts for a second opinion or additional development support.

          a.button.button--primary(href="mailto:mike@mcarter.me") Make an enquiry
          span.helper-text Or copy &amp; paste <strong>mike@mcarter.me</strong>

  include includes/footer.pug
