extends ../base.pug

include mixins/navigation.pug
include mixins/header.pug

block prepend vars
  -var bodyClass = "home"

block pageContent
  +header(
    "Mike Carter",
    "A software <strong>developer</strong>, company <strong>founder</strong> and technical <strong>leader</strong> from the UK."
  )

  main
    section.full-section
      .full-section__inner
        .content-grid
          .content-grid__item.content-grid__item--bordered
            h2 About me
            p.lead I'm an experienced developer and technical leader, building on the web since 2006.
            img.text-image.text-image--small.text-image--centered(src="/assets/images/me.webp", alt="Mike Carter" width="208" height="208" loading="lazy")
            p I’ve worked in both small and large technology teams, and have led the digtal transformation of multiple fast-growing businesses. I’m a creative product focussed engineer at heart.
            p.centered
              a.button.button--primary.button--large(href="mailto:mike@mcarter.me") Email Me

          .content-grid__item.content-grid__item--bordered
            h2 What I'm working on
            p.lead I’m growing BitBrawn, a web application studio that transforms businesses with brilliant software.
            img.text-image.text-image--centered.text-image--borderless(src="/assets/images/bitbrawn-logo.png", alt="Bitbrawn" width="242" height="224" loading="lazy")
            p We offer web application development and consultancy, and focus primarily on SMEs looking to transform their businesses with bespoke web applications.
            p.centered
              a.button.button--primary.button--large(href="https://bitbrawn.com" target="_blank" rel="noopener") Visit BitBrawn

