extends ../base.pug

include mixins/nav.pug
include mixins/header.pug
include mixins/imageList.pug
include mixins/postList.pug
include mixins/testimonials.pug

include mixins/svgs/guideThroughUnknown.pug
include mixins/svgs/understandBusiness.pug
include mixins/svgs/safePairOfHands.pug

block prepend vars

block pageContent
  +navLinks

  +header(
    "Digital products done properly",
    "Hi, I’m Mike. I’ll help you bring your digital product to market with solid foundations, room to scale, and costs under control.",
    true
  )

  main
    .inner-wrapper
      section.half-section
        h2.half-section__title.half-section__title--right A guide through the unknown

        .half-section__item-container
          .half-section__graphic
            +guideThroughUnknown()

          .half-section__content
            p Traditionally, developing a digital product is an expensive, time consuming endeavour that frequently offers little return on investment. What’s more, professional software development is completely unregulated, making choosing a competent development partner a risky proposition.

            p My goal is to de-risk your digital product development journey. I combine true technical expertise, extensive industry experience, and excellent communication skills to bring your product to market in the form of a quality, scaleable piece of software that generates real value for your business.

      section.half-section
        h2.half-section__title.half-section__title--left Someone who understands business

        .half-section__item-container.half-section__item-container--reverse
          .half-section__graphic
            +understandBusiness()

          .half-section__content
            p It can be hard to move quickly in a business environment. There are tradeoffs to be made, stakeholders to win over, value to prove, priorities that change, and blockers to avoid.

            p I’ve spent the past decade working to become adept at delivering software in these conditions. I’ll work closely with the relevant stakeholders in your business to make sure there’s a clear shared vision for your product aligned with your strategic objectives.

      section.half-section
        h2.half-section__title.half-section__title--right A safe pair of hands

        .half-section__item-container
          .half-section__graphic
            +safePairOfHands()

          .half-section__content
            p It’s all too common for software development projects to go off the rails. Typically losing time, money and opportunity with with an inexperienced development partner.

            p I’ve built products for businesses of many different sizes and in many different sectors over the past decade. I know my onions, but I also know when there's value in defering to subject matter experts for a second opinion or additional development support.

    .inner-wrapper.inner-wrapper--semi-wide
      section.full-section
        h2 Services
        .full-section__content
          .full-section__sub-section
            h3 Product audits
            p If your digital product is slow, buggy, or simply not converting as well as you’d expected, then this is for you. For <strong>£749</strong> I’ll perform a deep dive into your digital product provide you with a <strong>bespoke analysis report</strong> detailing actions you can take to fix a specific issue.

          .full-section__sub-section
            h3 Product consultancy
            p For if you’re looking to build a new digital product, or would like longer term technical in your business. I'll work closely with you to <strong>guide technical decision making</strong> in accordance with your organisation’s tactical and strategic objectives, while <strong>speaking a language you understand</strong>.

          .full-section__sub-section
            h3 Product development
            p For a <strong>fixed price</strong>, I’ll work on your digital product for you. I’ll coordinate with stakeholders in your business to establish clear requirements, and then deliver expertly crafted software that fully realises your vision with a <strong>clear return on investment</strong> for your business.
        .full-section__footer
          a.button.button--primary(href="mailto:mike@mcarter.me") Make an enquiry
          span.helper-text Or copy &amp; paste <strong>mike@mcarter.me</strong>

  include includes/footer.pug
