extends ../base.pug

include mixins/navigation.pug
include mixins/header.pug
include mixins/twoThirdsSection.pug
include mixins/companyLogos.pug
include mixins/contactButton.pug
include mixins/testimonials.pug

block prepend vars
  -var bodyClass = "home"

block cssIncludes
  link(rel="preload" href="/assets/styles/showcase.css" media="screen" as="style" onload="this.onload=null;this.rel='stylesheet'")
  noscript
    link(rel="stylesheet" media="screen" href="/assets/styles/showcase.css")

block pageContent
  +navigation

  +header(
    "Digital products<br/> derisked",
    "I’m Mike Carter, a web application development consultant who brings digital products to market with solid foundations, room to scale, and costs under control.",
    true
  )
    +contactButton()

  main
    section.half-section
      .half-section__inner
        .half-section__image-title-container
          h2.half-section__title A guide through the unknown
          .half-section__image
            +svg("map")
        .half-section__content
          p.lead Developing a digital product is often expensive, slow, and offers little return on investment. In an unregulated industry, choosing a competent development partner is risky.
          p My goal is to derisk your digital product development journey. I combine true technical expertise, extensive industry experience, and excellent communication skills to bring quality, scaleable software to market that generates real value for your business.

      .half-section__inner
        .half-section__image-title-container
          h2.half-section__title Someone who understands
          .half-section__image
            +svg("presentation")
        .half-section__content
          p.lead It can be hard to move quickly in a business environment. There are tradeoffs to be made, stakeholders to win over, value to prove, priorities that change, and blockers to avoid.
          p I’ve spent the past decade working to become adept at delivering software in these conditions. I’ll work closely with the relevant stakeholders in your business to make sure there’s a clear shared vision for your product that's aligned with your strategic objectives.

    section.full-section.wrapper-semi-wide
      h2.capitalised Services
      .full-section__content
        .full-section__sub-section
          h3 Product development
          p.lead For a fixed price or daily rate, I’ll work on your digital product directly, helping you to achieve a clear return on investment.
          p I’ll coordinate with stakeholders to establish clear requirements, and then deliver expertly crafted software that fully realises your vision for launch, but with solid foundations for further development and scaling. <a href="/services">Read more...</a>

        .full-section__sub-section
          h3 Product consultancy
          p.lead If you’re looking to build something new, or would like long-term technical help, I can help guide decision making.
          p I'll work closely with you to help you deliver top quality digital products in less time, at less cost, and to a higher quality. I'll speak a language you understand, and keep your return on investment front of mind. <a href="/services">Read more...</a>

      .full-section__footer
        h4 Testimonials
        +testimonials([
          {
            src: "/assets/images/testimonials/annadivers.jpeg",
            alt: "Anna Divers",
            author: "Anna Divers, Product Director at Holiday Extras (now Purple Bricks)",
            text: "Mike's a super genius engineer and you should definitely hire him."
          },
          {
            src: "/assets/images/testimonials/bradleypost.jpeg",
            alt: "Bradley Post",
            author: "Bradley Post, CEO at RIFT Group",
            text: "Mike's a pretty good at what he does, you wouldn't regret hiring him."
          },
          {
            src: "/assets/images/testimonials/chrisgibbons.jpg",
            alt: "Chris Gibbons",
            author: "Chris Gibbons, CEO and Founder at Laced",
            text: "Mike's a pretty good at what he does, you wouldn't regret hiring him."
          },
          {
            src: "/assets/images/testimonials/charlesholdsworth.jpeg",
            alt: "Charles Holdsworth",
            author: "Charles Holdsworth, CEO at Airspace Software",
            text: "Mike's not that great, you might want to give him a miss."
          }
        ])

    +twoThirdsSection("A safe pair of hands", "desk", false)
      p.lead It’s all too common for software development projects to go off the rails. Typically losing time, money and opportunity with with an inexperienced development partner.

      p I’ve built products for businesses of many different sizes and in many different sectors over the past decade. I know my onions, but I also know when there's value in defering to subject matter experts for a second opinion or additional development support.

      +contactButton()

      +companyLogos([
          {
            alt: "RIFT’s website",
            url: "https://riftrefunds.co.uk",
            fileName: "client-logos/myrift.svg",
            ariaLabel: "RIFT",
            width: 138,
            height: 56,
          },
          {
            alt: "Allocate’s website",
            url: "https://allocate.co.uk",
            fileName: "client-logos/allocate.svg",
            ariaLabel: "Allocate",
            width: 123,
            height: 56
          },
          {
            alt: "Laced’s website",
            url: "https://laced.co.uk",
            fileName: "client-logos/laced.svg",
            ariaLabel: "Laced",
            width: 160,
            height: 32
          },
          {
            alt: "Holiday Extras’ website",
            url: "https://holidayextras.co.uk",
            fileName: "client-logos/holiday-extras.svg",
            ariaLabel: "Holiday Extras",
            width: 160,
            height: 27
          },
          {
            alt: "HEHA’s website",
            url: "https://heha.com",
            fileName: "client-logos/heha.svg",
            ariaLabel: "HEHA",
            width: 84,
            height: 48
          },
          {
            alt: "Zendesk’s website",
            url: "https://zendesk.co.uk",
            fileName: "client-logos/zendesk.svg",
            ariaLabel: "Zendesk",
            width: 136,
            height: 28
          }
        ])


  include includes/footer.pug
