extends ../base.pug

include mixins/navigation.pug
include mixins/header.pug
include mixins/twoThirdsSection.pug
include mixins/halfSection.pug
include mixins/companyLogos.pug
include mixins/contactButton.pug

block prepend vars
  -var bodyClass = "home"

block cssIncludes
  link(rel="preload" href="/assets/styles/showcase.css" media="screen" as="style" onload="this.onload=null;this.rel='stylesheet'")
  noscript
    link(rel="stylesheet" media="screen" href="/assets/styles/showcase.css")

block pageContent
  +navigation

  +header(
    "Digital products<br/> derisked",
    "I’m Mike Carter, a web application development consultant who brings digital products to market with solid foundations, room to scale, and costs under control.",
    true
  )
    +contactButton()

  main
    .half-section__container
      +halfSection("A guide through the unknown", "map")
        p.lead Developing a digital product is often expensive, slow, and offers little return on investment. In an unregulated industry, choosing a competent development partner is risky.

        p My goal is to de-risk your digital product development journey. I combine true technical expertise, extensive industry experience, and excellent communication skills to bring quality, scaleable software to market that generates real value for your business.

      +halfSection("Someone who understands", "presentation")
        p.lead It can be hard to move quickly in a business environment. There are tradeoffs to be made, stakeholders to win over, value to prove, priorities that change, and blockers to avoid.

        p I’ve spent the past decade working to become adept at delivering software in these conditions. I’ll work closely with the relevant stakeholders in your business to make sure there’s a clear shared vision for your product that's aligned with your strategic objectives.

    section.full-section.wrapper-semi-wide
      h2 Services
      .full-section__content
        .full-section__sub-section
          h3 Technical product audits
          p.lead If you're not sure why your digital product is slow, buggy, or simply not converting as well, then this is for you.

          p For just £749 I’ll perform a deep audit on your digital product, and provide you with a bespoke report detailing actions you can take to fix a specific issue.

        .full-section__sub-section
          h3 Product consultancy
          p.lead If you’re looking to start something new, or would like long-term technical help, I can help guide decision making.

          p I'll work closely with you to guide technical decision making in accordance with your objectives, while speaking a language you understand.

        .full-section__sub-section
          h3 Product development
          p.lead For a fixed price, I’ll work on your digital product, helping you to achieve a clear return on investment for your business.

          p I’ll coordinate with stakeholders in your business to establish clear requirements, and then deliver expertly crafted software that fully realises your vision.
      .full-section__footer
        h4 Trusted by
        +companyLogos()

    +twoThirdsSection("A safe pair of hands", "desk", false)
      p.lead It’s all too common for software development projects to go off the rails. Typically losing time, money and opportunity with with an inexperienced development partner.

      p I’ve built products for businesses of many different sizes and in many different sectors over the past decade. I know my onions, but I also know when there's value in defering to subject matter experts for a second opinion or additional development support.

      +contactButton()

  include includes/footer.pug
