extends ../base.pug

include mixins/navigation.pug
include mixins/header.pug
include mixins/companyLogos.pug
include mixins/contactButton.pug
include mixins/testimonials.pug

block prepend vars
  -var bodyClass = "home"

block pageContent
  +header(
    "Digital products <em>derisked</em>.",
    "I'm Mike Carter, I lead development on digital products with <strong>solid foundations</strong>, <strong>room to scale</strong>, and <strong>costs under control</strong>."
  )
    p.company-logos-lead I’ve worked with...
    +companyLogos([
        {
          alt: "RIFT’s website",
          url: "https://riftrefunds.co.uk",
          fileName: "client-logos/myrift.svg",
          ariaLabel: "RIFT",
          width: 138,
          height: 50,
        },
        {
          alt: "Purplebrick’s website",
          url: "https://purplebricks.co.uk",
          fileName: "client-logos/purplebricks.svg",
          ariaLabel: "Purplebricks",
          width: 150,
          height: 50
        },
        {
          alt: "Allocate’s website",
          url: "https://allocate.co.uk",
          fileName: "client-logos/allocate.svg",
          ariaLabel: "Allocate",
          width: 123,
          height: 56
        },
        {
          alt: "Laced’s website",
          url: "https://laced.co.uk",
          fileName: "client-logos/laced.svg",
          ariaLabel: "Laced",
          width: 160,
          height: 32
        },
        {
          alt: "Holiday Extras’ website",
          url: "https://holidayextras.co.uk",
          fileName: "client-logos/holiday-extras.svg",
          ariaLabel: "Holiday Extras",
          width: 160,
          height: 27
        },
        {
          alt: "Zendesk’s website",
          url: "https://zendesk.co.uk",
          fileName: "client-logos/zendesk.svg",
          ariaLabel: "Zendesk",
          width: 136,
          height: 28
        },
        {
          alt: "HEHA’s website",
          url: "https://heha.com",
          fileName: "client-logos/heha.svg",
          ariaLabel: "HEHA",
          width: 84,
          height: 48
        }
      ])

  main
    section.full-section
      .full-section__inner
        h2 How I can help
        .content-grid
          .content-grid__item 
            h3 <img class="heading-icon" src="assets/images/icons/consultancy.svg" alt="Expertise" /> Experience and expertise
            p.lead Software is a booming industry, but it can be hard to find seasoned experts among the rush of newcomers.

            p With 17 years under my belt, I’ve focused my career on developing robust, scaleable web applications that deliver real value for businesses in multiple sectors, and on multiple continents.
            
            p I know my technical fundamentals from my higher level frameworks, and make it my business to keep up to date with the latest technologies and best practices.

          .content-grid__item 
            h3 <img class="heading-icon" src="assets/images/icons/consultancy.svg" alt="Leadership" /> Clear, pragmatic leadership
            p.lead Software engineers aren’t renowned for their brilliant communication skills or strategic decision making. 

            p I work hard to make complex technical concepts easily understood with clear communication, and appropriate visual aids like diagrams and videos.
            
            p Where difficult decisions need to be made, I’ll always 

          .content-grid__item
            h3 <img class="heading-icon" src="assets/images/icons/risk.svg" alt="Removing risk" /> Removing risk and uncertainty
            p.lead Done poorly, developing digital products can be expensive, slow, and offer little return on investment.

            p I remove risk and uncertainty from your digital product development journey by understanding your goals and constraints, and then guiding development in a way avoids pitfalls, and plays to your organisation’s strengths.
            
            p This results in products that are cost effective, delivered promptly, and provide a top return on investment.

          .content-grid__item
            h3 <img class="heading-icon" src="assets/images/icons/results.svg" alt="Delivering results" /> Delivering results
            p.lead Operating efficiently and consistently in a business environment can be tough for engineers.
            p I’ve spent the past 17 years working with organisations of various sizes to become adept at talking your language, and getting things done.
            p I help stakeholders settle on clear shared visions for their digital products, and consistently deliver results that are closely aligned with their strategic objectives.

        h2 My services
        .content-grid
          .content-grid__item
            h3 <img class="heading-icon" src="assets/images/icons/consultancy.svg" alt="Consultancy" /> Development consultancy
            p.lead If you’re looking to build something new, or would like long-term technical help, I can help guide decision making.
            p I’ll work closely with you to deliver top quality digital products using the best technology for the job. I’ll speak a language you understand, and keep your return on investment front of mind.
            p By continuously re-assessing the needs and constraints in your business, I’ll ensure your development team or agency continue smoothly towards their goal as new issues and blockers are uncovered, and keep you informed of progress along the way.
          .content-grid__item
            h3 <img class="heading-icon" src="assets/images/icons/development.svg" alt="Development" /> Product development
            p.lead For a fixed price or daily rate, I’ll work on your digital product directly, helping you to achieve a clear return on investment for your business.
            p I’ll coordinate with stakeholders to establish clear requirements, and then deliver expertly crafted software that fully realises your vision for launch with solid foundations for further development and scaling.
            p All of my work is carefully documented, and uses technologies with a proven track record and promising trajectory in order to ensure you’re able to continue to find talented developers to grow your product long into the future.

    section.full-section.full-section--highlight
      .full-section__inner.full-section__inner--wide
        h3.hidden Testimonials
        +testimonials([
          {
            src: "/assets/images/testimonials/bradleypost.jpeg",
            alt: "Bradley Post",
            author: "Bradley Post, CEO at <a href='https://www.riftrefunds.co.uk' rel='noopener' target='_blank'>RIFT Limited</a>",
            text: "Mike has been brilliant for RIFT; he has led numerous successful development projects, and his calm, measured and pragmatic delivery approach immediately instils confidence. He quickly understands the business issues we’re trying to solve and develops practical solutions to drive the business forwards.",
          },
          {
            src: "/assets/images/testimonials/annadivers.jpeg",
            alt: "Anna Divers",
            author: "Anna Divers, Product Director at <a href='https://www.purplebricks.co.uk' rel='noopener' target='_blank'>Purplebricks</a>",
            text: "Mike’s experience, pragmatism and humility helped him immediately gain the trust and respect of our team. As a legacy from his engagement, we’re equipped with understanding how to improve our product development cycles, front-end developement environment and approach.",
          },
          {
            src: "/assets/images/testimonials/charlesholdsworth.jpeg",
            alt: "Charles Holdsworth",
            author: "Charles Holdsworth, CEO at <a href='https://www.allocate.co.uk' rel='noopener' target='_blank'>Allocate</a>",
            text: "Mike has not only performed exceptionally well on two projects for me, but stepped in to help when an issue arose with a former developer.  Without assistance he methodically unravelled older systems in order to understand their structure and setup. His assistance has been invaluable."
          }
        ])

    section.full-section
      .full-section__inner
        h2 Frequently asked questions
        .content-grid.content-grid--3col.content-grid--highlight
          .content-grid__item
            h3.small What languages do you work with?
            p I primarily work with <strong>JavaScript</strong>, <strong>Ruby</strong> and their popular frameworks (React, Express, Rails, etc). Naturally my <strong>HTML</strong> and <strong>CSS</strong> are strong too.
          .content-grid__item
            h3.small Can  you charge a fixed price?
            p Yes. I prefer to charge a fixed price for projects, because my clients prefer price certainty. I invoice on a 50% up-front, 50% prior to go-live basis. 
          .content-grid__item 
            h3.small What’s your day rate?
            p Where a fixed cost is not practical or desired, I charge a rate of <strong>£800 per day</strong>. At the end of each month I’ll issue an invoice for days worked.
          .content-grid__item
            h3.small Do you offer ongoing support?
            p My work comes with <strong>30 days</strong> of complimentary bug fixes and support from the point it goes live. Outside of this, support can be negotiated on a per-engagement basis.
          .content-grid__item 
            h3.small Will you work with our developers?
            p Yes, I love to work with other developers. Collaboration is great for quality software, allows it allows me to share best practices your business can benefit from after I’m gone.
          .content-grid__item 
            h3.small What if our plans change?
            p In the event of a change of plans, we can negotiate something new or cancel the project completely. Cancellations will mean no deliverables from me, and no 50% final payment for you.
          .content-grid__item
            h3.small Will you come to our offices?
            p Yes. I primarily work remotely, but I’m happy to be with you in-person when it makes sense to do so. This can be factored into the scope of your project, or billed for at my hourly rate.
          .content-grid__item
            h3.small What if we need more people?
            p I have a wide network of skilled developers, designers, and project managers I’ve worked with previously. If necessary, I can pull in the right people to keep things running smoothly.
          .content-grid__item
            h3.small Do you have availability?
            p I’m currently booked until <strong>the end of 2022</strong>. I’m often booked out several months ahead, so if you’re planning something, contact me early to avoid disappointment.

    section.full-section.full-section--highlight
      .full-section__inner
        h2 Contact
        .content-grid
          .content-grid__item
            p.lead Drop me an email you’re interested in working with me, have a question, or just want to say hi.
            p I’m currently available from January 2023 onwards. Looking forward to hearing from you!
          .content-grid__item
            .vertical-center
              a.button.button--primary.button--mega(href="mailto: mike@mcarter.me") Email me
    
  include includes/footer.pug
