@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 5%;
  }
  10% {
    background-position: 0% 5%;
  }

  16% {
    background-position: 50% 5%;
  }
  26% {
    background-position: 50% 5%;
  }

  32% {
    background-position: 50% 50%;
  }
  42% {
    background-position: 50% 50%;
  }

  48% {
    background-position: 50% 100%;
  }
  58% {
    background-position: 50% 100%;
  }

  64% {
    background-position: 0% 100%;
  }
  74% {
    background-position: 0% 100%;
  }

  80% {
    background-position: 0% 50%;
  }
  90% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 0% 5%;
  }
}

@keyframes Bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

body {
  animation: Gradient 40s ease infinite;
  background: linear-gradient(-45deg, #c61919, #ee7752, #e73c7e, #23a6d5);
  background-size: 400% 400%;
  color: #fff;
  font-family: "Hind", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  font-size: 1.3em;
  @media only screen and (min-width: 600px) {
    font-size: 1.5em;
  }
}

.header {
  margin-top: 1em;

  img {
    animation-name: Bounce;
    animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    border-radius: 100px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    display: inline;
    margin: 0 1em 0 -5.5em;
    max-width: 4.5em;

    @media only screen and (max-width: 1000px) {
      margin-left: 0;
      float: right;
    }
  }

  h1 {
    display: inline;
    vertical-align: 44%;
  }
}

.section {
  animation: FadeIn 2s;

  &--main {
    margin: 0 auto;
    max-width: 30em;
    padding: 0.5em;
    @media only screen and (min-width: 600px) {
      padding: 1em;
    }
  }
}

h1,
h2 {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
  margin: 1.5em 0 0 0;
}

ul {
  @media only screen and (min-width: 600px) {
    padding: 0;
  }

  li {
    font-size: 0.9em;
    margin: 1.2em 0 1.2em 1em;
  }
}

a {
  &:link,
  &:visited {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
  }

  &:hover {
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.2s ease-out;
  }
}

.image {
  &--text {
    display: inline-block;
    vertical-align: -15%;
    width: 2em;
  }
}

.emoji {
  margin-left: 0.3em;

  @media only screen and (min-width: 600px) {
    font-size: 0.7em;
  }
}
