/* autoprefixer: off */

$device-dark-edge-color: #aaa;
$device-shadow-color: #bbb;

@keyframes twist {
  0% {
    transform: rotateX(0) rotateZ(0) translateY(0) translateX(0);
  }
  100% {
    transform: rotateX(60deg) rotateZ(-45deg) translateY(0) translateX(0);
  }
}

@keyframes explodeBottom {
  0% {
    box-shadow: -0.2rem 0.2rem 0 $device-dark-edge-color;
    transform: translateZ(0);
  }

  100% {
    transform: translateZ(-4rem);
    box-shadow: -0.2rem 0.2rem 0 $device-dark-edge-color,
      -1rem 1rem $spacing-2 $device-shadow-color;
  }
}

@keyframes explodeBottom2 {
  0% {
    transform: translateZ(-4rem) translateX(0) translateY(0);
  }
  100% {
    transform: translateZ(-4rem) translateX(-2rem) translateY(0);
  }
}

@keyframes explodeMiddle {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(-1rem) translateY(0);
  }
}

@keyframes explodeTop {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translateZ(4rem);
  }
}

@keyframes addShadow {
  0% {
    box-shadow: 0;
  }
  100% {
    box-shadow: -0.2rem 0.2rem 0 $device-dark-edge-color;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes openOut {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(15%, -15%);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* autoprefixer: on */
