article {
  .article__content {
    padding-bottom: $spacing-4;
    padding-top: $spacing-4;

    & > *:first-child {
      margin-top: 0;
    }

    h2 {
      margin: $spacing-3 0;
      @media only screen and (min-width: $bp-sm) {
        margin: $spacing-4 0 $spacing-3 0;
      }
    }

    h3 {
      margin: $spacing-3 0;
      @media only screen and (min-width: $bp-sm) {
        margin: $spacing-3 0 $spacing-2 0;
      }
    }
  }

  .article-image {
    margin: $spacing-3 auto;
    max-height: 35em;

    &--bordered {
      border: 0.1rem solid $grey-lightest;
      border-radius: $border-radius-1;
      padding: $spacing-1;
    }

    &--subtitled {
      margin-bottom: 0;
    }
  }

  .article-image-subtitle {
    font-size: $font-size-sm;
    margin: 0 0 $spacing-3 0;
    text-align: center;
  }
}
