article {
  .article__content {
    @include inner-wrapper;
  }

  .article-image {
    margin: $spacing-3 auto;
    max-height: 35em;

    &--bordered {
      border: 0.1rem solid $grey-lightest;
      border-radius: $border-radius-1;
      padding: $spacing-1;
    }

    &--subtitled {
      margin-bottom: 0;
    }
  }

  .article-image-subtitle {
    font-size: $font-size-sm;
    margin: 0 0 $spacing-3 0;
    text-align: center;
  }
}
