article {
  h3 {
    font-family: 'Sriracha', system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 1em;
    margin: 1em 0 0 0;
  }

  p {
    color: $grey;
    font-size: 0.8em;
    margin: 0 0 1em 0;
  }
}

