.button {
  background: $grey-lightest;
  border-radius: $border-radius-1;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  padding: $spacing-2 $spacing-3;

  &--primary {
    background: $green-dark;
    color: $white;

    &:hover {
      background: $green;
      transition: background $duration-short;
    }

    &:link,
    &:visited {
      color: $white;
    }
  }
}
