.button {
  background: $grey-lightest;
  border-radius: $border-radius-1;
  display: inline-block;
  font-family: $sans-font-family;
  font-size: $font-size-base;
  font-weight: 600;
  margin: 0 0 $spacing-2 0;
  text-align: center;
  text-decoration: none;
  padding: 0.8rem $spacing-2;

  &--primary {
    background: $beige-darkest;
    color: $white;

    &:hover {
      background: $orange-dark;
      transition: background $duration-short;
    }

    &:link,
    &:visited {
      color: $white;
    }
  }
}
