.card {
  display: flex;
  margin: $spacing-4 0;

  &__aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  h3 {
    margin-bottom: $spacing-1;
  }

  p {
    margin-bottom: $spacing-1;
  }

  &__dates {
    color: $soot;
    margin-left: $spacing-1;
  }

  &__image {
    height: auto;
    width: 2.5rem;
    max-width: 2.5rem;
    margin: $spacing-1 $spacing-2 0 0;

    @media only screen and (min-width: $bp-sm) {
      max-width: 4rem;
    }
  }
}

h2 + .card,
p + .card {
  margin-top: $spacing-4;
}
