.card {
  display: flex;
  margin: $spacing-5 0;

  &__aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  h3 {
    margin-bottom: $spacing-1;
  }

  p {
    margin-bottom: $spacing-1;
  }

  &__dates {
    color: $soot;
    font-family: $sans-font-family;
    margin-left: $spacing-1;
  }

  &__image {
    height: auto;
    max-width: 3rem;
    margin: $spacing-1 $spacing-2 0 0;

    @media only screen and (min-width: $bp-sm) {
      max-width: 5rem;
    }

    &--rounded {
      border-radius: 50%;
    }
  }
}

h2 + .card,
p + .card {
  margin-top: $spacing-4;
}
