.company-logos {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: $spacing-2 0;

  @media only screen and (max-width: $bp-md) {
    justify-content: center;
  }

  &__item {
    display: block;
    margin: 0 $spacing-2 $spacing-1 $spacing-2;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    img {
      max-width: 10rem;
      max-height: 3.5rem;
    }
  }

  &__svg {
    fill: $purple-light;
    transition: fill $duration-short;

    a:hover & {
      fill: $purple-dark;
    }
  }
}
