@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.company-logos {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: $spacing-2 auto 0 auto;
  max-width: $bp-sm;

  &__item {
    animation: fadeIn .35s ease-in;
    animation-fill-mode: forwards;
    display: block;
    margin: 0 $spacing-1 $spacing-2 $spacing-1;
    opacity: 0;
    max-width: 10rem;

    @media only screen and (min-width: $bp-xs) {
      margin: 0 $spacing-2 $spacing-2 $spacing-2;
    }

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    &:nth-child(1) {
      animation-delay: 0.1s;
      img { // RIFT
        width: 5rem;
        @media only screen and (min-width: $bp-xs) {
          width: 6rem;
        }
        @media only screen and (min-width: $bp-sm) {
          width: 7rem;
        }
      }
    }
    &:nth-child(2) {
      animation-delay: 0.2s;
      img { // Purplebricks
        width: 7rem;
        @media only screen and (min-width: $bp-xs) {
          width: 8.5rem;
        }
        @media only screen and (min-width: $bp-sm) {
          width: 10rem;
        }
      }
    }
    &:nth-child(3) {
      animation-delay: 0.3s;
      img { // Allocate
        width: 5rem;
        @media only screen and (min-width: $bp-xs) {
          width: 6rem;
        }
        @media only screen and (min-width: $bp-sm) {
          width: 7rem;
        }
      }
    }
    &:nth-child(4) {
      animation-delay: .4s;
      img { // Laced
        width: 6rem;
        @media only screen and (min-width: $bp-xs) {
          width: 7rem;
        }
        @media only screen and (min-width: $bp-sm) {
          width: 8rem;
        }
      }
    }
    &:nth-child(5) {
      animation-delay: .5s;
      img { // Holiday Extras
        width: 8rem;
        @media only screen and (min-width: $bp-xs) {
          width: 10rem;
        }
        @media only screen and (min-width: $bp-sm) {
          width: 12rem;
        }
      }
    }
    &:nth-child(6) {
      animation-delay: .6s;
      img { // Zendesk
        width: 6rem;
        @media only screen and (min-width: $bp-xs) {
          width: 7rem;
        }
        @media only screen and (min-width: $bp-sm) {
          width: 8rem;
        }
      }
    }
    &:nth-child(7) {
      animation-delay: .7s;
      img { // HEHA
        width: 3.5rem;
        @media only screen and (min-width: $bp-xs) {
          width: 4.25rem;
        }
        @media only screen and (min-width: $bp-sm) {
          width: 5rem;
        }
      }
    }

    img {
      filter: saturate(0%);
      opacity: 50%;
      transition: filter .25s, opacity .25s;
      transition-timing-function: ease-in-out;
    }

    a:hover {
      img {
        filter: saturate(100%);
        opacity: 100%;
      }
    }
  }
}

.company-logos-lead {
  color: $beige-dark;
  font-weight: 500;
  font-size: $font-size-xs;
  margin: -1rem 0 0 0;

  @media only screen and (min-width: $bp-xs) {
    font-size: $font-size-sm;
    margin: $spacing-3 0;
  }
}