@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.company-logos {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;

  &__item {
    animation: fadeIn 0.35s ease-in;
    animation-fill-mode: forwards;
    display: block;
    margin: 0 $spacing-1 $spacing-2 $spacing-1;
    opacity: 0;
    max-width: 10rem;

    @media only screen and (min-width: $bp-xs) {
      margin: 0 $spacing-2 $spacing-2 $spacing-2;
    }

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    &:nth-child(1) {
      animation-delay: 0.1s;
    }
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.3s;
    }
    &:nth-child(4) {
      animation-delay: 0.4s;
    }
    &:nth-child(5) {
      animation-delay: 0.5s;
    }
    &:nth-child(6) {
      animation-delay: 0.6s;
    }
    &:nth-child(7) {
      animation-delay: 0.7s;
    }
    &:nth-child(8) {
      animation-delay: 0.7s;
    }

    img {
      // Company logos:
      &.rift { @include widths(5rem, 6rem, 7rem); }
      &.purplebricks { @include widths(7rem, 8.5rem, 10rem); }
      &.allocate { @include widths(5rem, 6rem, 7rem); }
      &.laced { @include widths(6rem, 7rem, 8rem); }
      &.holiday-extras { @include widths(8rem, 10rem, 12rem); }
      &.zendesk { @include widths(6rem, 7rem, 8rem); }
      &.heha { @include widths(3.5rem, 4.25rem, 5rem); }
      &.sprintly { @include widths(4.5rem, 5.5rem, 6.5rem); }

      // Tech logos
      &.rails { @include widths(4.5rem, 5.5rem, 6.5rem); }
      &.ruby { @include widths(2rem, 2.5rem, 3.5rem); }
      &.react { @include widths(2rem, 3rem, 4rem); }
      &.nextjs { @include widths(4rem, 5rem, 6rem); }
      &.nodejs { @include widths(4rem, 5rem, 6rem); }
      &.javascript { @include widths(2rem, 2.5rem, 3.5rem); }
      &.typescript { @include widths(2rem, 2.5rem, 3.5rem); }
    }
  }
}

.company-logos-lead {
  color: $beige-dark;
  font-weight: 500;
  font-size: $font-size-sm;
  text-align: center;

  @media only screen and (min-width: $bp-xs) {
    font-size: $font-size-md;
    margin: $spacing-1 0;
  }
}
