.contact {
	display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: $spacing-4;
  grid-row-gap: $spacing-3;

  @media only screen and (min-width: $bp-sm) {
    grid-template-columns: 1fr 1fr;
  }

	&__content {
		p {
			font-size: $font-size-md;
			margin: 0 0 $spacing-2 0;
		}

    ul {
      list-style: none;
      margin: 0 0 $spacing-2 $spacing-1;
      padding: 0;

      li {
        margin: 0 0 $spacing-1 0;
        padding: 0;

        a {
          @include nav-link;
          font-size: $font-size-md;
          text-align: center;

          @media only screen and (min-width: $bp-sm) {
            text-align: left;
          }
        }
      }
    }
	}

	&__image {
		border: 0.1rem solid $beige;
    border-radius: $border-radius-2;
    float: right;
    max-height: 4rem;
    max-width: 4rem;
    margin: 0 0 0 $spacing-3;

    @media only screen and (min-width: $bp-sm) {
      margin: 0 0 0 $spacing-2;
      max-height: 6rem;
      max-width: 6rem;
    }
	}

  &__form {
    &-input-group {
      display:flex;

      div:first-child {
        margin-right: $spacing-2;
      }
    }

    &-input {
      margin: 0 0 $spacing-2 0;
      width: 100%;
      label {
        font-size: $font-size-md;
      }
      input, textarea {
        appearance: none;
        border: 1px solid darken($beige, 10%);
        border-radius: $border-radius-1;
        display: block;
        font-size: $font-size-md;
        padding: $spacing-1;
        width: 100%;

        &:focus, &:active {
          border: none;
          outline: $beige-darker solid;
        }
      }

      textarea {
        font-family: $sans-font-family;
        min-height: 8rem;
      }

      input[type=submit] {
        background: $beige-darker;
        color: white;
        cursor: pointer;

        &:hover {
          background: lighten($beige-darker, 10%);
        }
      }
    }
  }
}