.footer {
  padding: 0 $spacing-gutter;

  &__inner {
    @include inner-wrapper;
    @include normalize-typography-margins;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;

    @media only screen and (min-width: $bp-sm) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__section {
    &:first-child {
      margin-bottom: $spacing-2;
      text-align: center;
    }

    @media only screen and (min-width: $bp-sm) {      
      &:first-child {
        margin: 0 auto 0 0;
        text-align: left;
      }
    }

    h4 {
      display: none;
    }

    p {
      font-size: $font-size-xs;
      margin: 0;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 0 0 $spacing-1 0;
        padding: 0;

        a {
          @include nav-link;
          display: block;
          font-size: $font-size-xs;
          text-align: center;

          @media only screen and (min-width: $bp-sm) {
            text-align: left;
          }
        }
      }
    }

    &--flex {
      display: flex;
      min-width: 14rem;

      & > * {
        flex: 1 0 7rem;
      }
    }
  }

  &__logo {
    display: inline-block;
    width: 1.5rem;
  }
}
