.full-section {
  @include vertical-section;

  padding: $spacing-gutter;

  &--highlight {
    @include highlight-container;
  }

  &__inner {
    @include inner-wrapper;
    @include normalize-typography-margins;

    &--wide {
      max-width: $layout-width-semi-wide;
    }
  }

  &__content {
    @media only screen and (min-width: $bp-sm) {
      display: flex;
    }
  }

  &__sub-section {
    flex: 1;
    margin-right: $spacing-3;

    @media only screen and (min-width: $bp-md) {
      margin-right: $spacing-4;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__footer {
    margin-top: $spacing-3;
    text-align: center;

    a.button {
      display: block;
      margin: 0 auto;
      max-width: 35rem;
    }
  }
}
