.full-section {
  padding: $spacing-3 $spacing-gutter-sm;

  @media only screen and (min-width: $bp-sm) {
    padding: $spacing-4 $spacing-gutter;
  }

  &--top {
    padding-top: 0;
  }

  &__inner {
    @include inner-wrapper;
    @include normalize-typography-margins;

    &--narrow {
      max-width: $layout-width-narrow;
    }

    &--wide {
      max-width: $layout-width-semi-wide;
    }
  }
}
