.gallery {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 100%;
    padding: $spacing-1 0;

    @media only screen and (min-width: $bp-xs) {
      flex: 0 0 50%;
      padding: $spacing-1 $spacing-2;
    }

    @media only screen and (min-width: $bp-sm) {
      flex: 0 0 33%;
    }
  }
}
