.gallery {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 100%;
    padding: $spacing-1 0;

    @media only screen and (min-width: $bp-xs) {
      flex: 0 0 50%;
      padding: $spacing-1 $spacing-2;
    }

    @media only screen and (min-width: $bp-sm) {
      flex: 0 0 33%;
    }
  }

  &__image-link {
    display: block;
  }

  &__image {
    border-radius: $border-radius-2;
    transition: opacity $duration-short ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }

  &__caption {
    font-size: $font-size-xs;
    margin-top: $spacing-1;
    text-align: center;
  }
}
