.half-section__container {
  display: flex;
  flex-direction: column;
  padding: 0 $spacing-2;

  @media only screen and (min-width: $bp-sm) {
    flex-direction: row;
  }

  @media only screen and (min-width: $layout-width-semi-wide) {
    padding: 0;
  }
}

.half-section {
  flex: 0 1 50%;

  @media only screen and (min-width: $bp-sm) {
    &:first-child {
      margin-right: $spacing-2;
    }

    &:last-child {
      margin-left: $spacing-2;
    }
  }

  @media only screen and (min-width: $bp-md) {
    &:first-child {
      margin-right: $spacing-4;
    }

    &:last-child {
      margin-left: $spacing-4;
    }
  }

  &__image-title-container {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $bp-sm) {
      flex-direction: column-reverse;
    }
  }

  &__image {
    svg {
      margin-bottom: $spacing-2;
      max-width: 10rem;

      @media only screen and (min-width: $bp-sm) {
        margin-bottom: 0;
        max-width: 15rem;
      }

      @media only screen and (min-width: $bp-md) {
        max-width: 20rem;
        max-height: 20rem;
      }
    }
  }
}
