.half-section__container {
  display: flex;
  flex-direction: column;
  padding: 0 $spacing-3;

  @media only screen and (min-width: $bp-sm) {
    flex-direction: row;
  }

  @media only screen and (min-width: $layout-width-semi-wide) {
    padding: 0;
  }
}

.half-section {
  flex: 0 1 50%;

  @media only screen and (min-width: $bp-sm) {
    &:first-child {
      margin-right: $spacing-4;
    }

    &:last-child {
      margin-left: $spacing-4;
    }
  }

  &__title {
    @media only screen and (max-width: $bp-sm) {
      margin-top: $spacing-1;
    }
  }

  &__image {
    svg {
      @media only screen and (max-width: $bp-sm) {
        max-width: 10rem;
      }
      max-width: 20rem;
      max-height: 20rem;
    }
  }
}
