.half-section {
  @include inner-wrapper;
  @include viewport-padding;
  @include vertical-section;

  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $bp-sm) {
    flex-direction: row;
  }

  &__inner {
    flex: 0 1 50%;
  
    @media only screen and (min-width: $bp-sm) {
      &:first-child {
        margin-right: $spacing-2;
      }
  
      &:last-child {
        margin-left: $spacing-2;
      }
    }
  
    @media only screen and (min-width: $bp-md) {
      &:first-child {
        margin-right: $spacing-4;
      }
  
      &:last-child {
        margin-left: $spacing-4;
      }
    }
  
    h2 {
      margin-top: 0;
    }
  }
  
  &__image-title-container {
    display: flex;
    flex-direction: column;
  
    @media only screen and (min-width: $bp-sm) {
      flex-direction: column-reverse;
    }
  }
  
  &__image {
    margin: 0 auto;
  
    @media only screen and (min-width: $bp-sm) {
      margin: 0;
    }
  
    svg {
      max-width: 20rem;
      @media only screen and (min-width: $bp-md) {
        width: auto;
        max-width: 100%;
      }
    }
  }
}