.header {
  @include highlight-container;
  padding: 0 $spacing-gutter;
  
  &__inner {
    @include inner-wrapper;
    @include normalize-typography-margins;
  }

  &__content {
    text-align: center;
    @include vertical-section;
  }

  &__title {
    margin: 0 auto;
    max-width: $bp-sm;
  }

  &__subtitle {
    font-size: $font-size-md;
    font-weight: 400;
    margin: $spacing-2 auto;
    max-width: 30rem;

    strong {
      font-weight: 500;
    }

    @media only screen and (min-width: $bp-sm) {
      line-height: 2.6rem;
      font-size: $font-size-xl;
      margin: $spacing-3 auto;
      max-width: 35rem;
    }
  }
}
