html, body {
  overflow-x: hidden;
}

header {
  background: $sky;
  box-shadow: inset 0 0 1.5em $fog;
  border-bottom: 2px dashed $blueberry;
  padding: 6em 2em 2em 2em;
  margin: -4em -2em 0 -2em;
  transform: rotate(-3deg);
  text-align: center;

  .inner-wrapper {
    transform: rotate(3deg);
  }

  h1, p {
    opacity: 0;
    animation: reveal .25s ease-in-out .2s;
    animation-fill-mode: forwards;
  }

  p {
    margin-bottom: 0.5em;
    font-size: 1.1em;
    line-height: 1.6em;

    @media only screen and (max-width: $bp-sm) {
      font-size: 0.9em;
    }
  }
}
