.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $spacing-2 0;

  &--blog {
    margin: $spacing-3 0 $spacing-4 0;
    text-align: center;

    h1 {
      font-size: $font-size-xl;
    }
  }

  .header__aside {
    img {
      margin: 0;
      height: auto;
      width: 4rem;
      border-radius: 50%;
    }
  }

  a:link,
  a:visited {
    color: $snow;
    text-decoration: none;
  }

  a:hover {
    color: $smoke;
  }
}
