$item-width: 362px;
$item-height: 482.8px;
$item-padding: 0.75rem;
$item-close-button-size: 0.75rem;
$item-margin: $spacing-2;

$screen-dark-edge-color: #bbb;
$screen-light-edge-color: #888;
$device-color: white;
$device-light-edge-color: #ccc;

@mixin centered-header-styles {
  @media only screen and (max-width: $bp-sm) {
    padding-left: $spacing-2;
    padding-right: $spacing-2;
  }

  .button--primary,
  .helper-text,
  .header__showcase {
    display: none;
  }

  .header {
    &__title,
    &__subtitle {
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      br {
        display: none;
      }
    }

    &__subtitle {
      margin: $spacing-3 auto;
    }

    &__content {
      flex: 1 0 100%;
      min-width: auto;
    }
  }
}

.header {
  @include inner-wrapper;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;

  &--centered {
    @include centered-header-styles;
  }

  @media only screen and (max-width: $bp-sm) {
    @include centered-header-styles;
  }

  @media only screen and (min-width: $bp-sm) {
    padding: $spacing-4 0 $spacing-4 $spacing-2;
  }

  @media only screen and (min-width: $layout-width) {
    padding: $spacing-4 0;
  }

  &__content {
    flex: 1 0 50%;
    min-width: 32rem;
  }

  &__title {
    max-width: $bp-sm;
  }

  &__subtitle {
    font-size: $font-size-xl;
    font-weight: 300;
    line-height: 2.6rem;
    margin: 0 0 $spacing-3 0;
    max-width: 30rem;

    @media only screen and (min-width: $bp-md) {
      max-width: 35rem;
    }
  }

  &__showcase {
    opacity: 0;
    animation: fadeIn 0.3s ease-out 0.2s;
    animation-fill-mode: forwards;
    flex: 0 1 31rem;
    padding-left: 7rem;
  }

  &__showcase-items {
    animation: twist 1.5s ease 0.4s;
    animation-fill-mode: forwards;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform-origin: center center;
    display: block;
    position: relative;
    top: -2rem;
    height: calc(
      #{$item-height} + #{$item-padding} + #{$item-padding} + #{$item-margin} +
        #{$item-margin} + #{$item-padding} + #{$item-close-button-size}
    );
    width: calc(
      #{$item-width} + #{$item-padding} + #{$item-padding} + #{$item-margin} + #{$item-margin}
    );
  }

  &__showcase-item {
    backface-visibility: hidden;
    transform-style: preserve-3d;

    background: $device-color;
    border: 0.1rem solid $device-light-edge-color;
    border-radius: $border-radius-1;
    overflow: hidden;
    margin: $spacing-2;
    padding: $item-padding;
    width: calc(#{$item-width} + #{$item-padding} + #{$item-padding} + 0.5rem);
    position: absolute;
    top: 0;
    left: 0;

    &-inner {
      border-top: 0.2rem solid $screen-light-edge-color;
      border-right: 0.2rem solid $screen-light-edge-color;
      border-bottom: 0.1rem solid $screen-dark-edge-color;
      border-left: 0.1rem solid $screen-dark-edge-color;
      height: calc(#{$item-height} + 0.3rem);
      width: calc(#{$item-width} + 0.3rem);
      overflow: hidden;
    }

    &--network {
      img {
        transform: translateY(-66.66%);
      }

      animation: addShadow 1.5s ease 0.4s, explodeBottom 1s ease 0.8s,
        explodeBottom2 1s ease 1.8s;
      animation-fill-mode: forwards;
    }

    &--code {
      img {
        transform: translateY(-33.33%);
      }

      animation: addShadow 1.5s ease 0.4s, explodeMiddle 1s ease 1.8s;
      animation-fill-mode: forwards;
    }

    &--product {
      animation: addShadow 1.5s ease 0.4s, explodeTop 1s ease 0.8s;
      animation-fill-mode: forwards;
    }

    &:before {
      content: '';
      background: $pink;
      border-radius: 10px;
      display: block;
      margin: 0 0 $item-padding 0.1rem;
      height: $item-close-button-size;
      width: $item-close-button-size;
    }

    img {
      height: $item-height * 3;
      width: $item-width;
    }
  }
}
