.logo-link {
  box-sizing: content-box;
  display: block;
  margin: 0;
  padding: $spacing-1 $spacing-1 $spacing-1 0;

  height: 1.5rem;
  width: 1.5rem;

  @media only screen and (min-width: $bp-sm) {
    height: 2rem;
    width: 2rem;
  }

  svg {
    fill: $beige-darkest;
    transition: fill $duration-medium;
  }

  &:hover {
    svg {
      fill: $orange-dark;
    }
  }
}
