@mixin normalize-typography-margins {
  h2,
  h3,
  h4,
  p,
  ul,
  ol {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin inner-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: $layout-width;
}

@mixin nav-link {
  transition: color $duration-medium;
  text-decoration: none;

  svg,
  img {
    fill: $grey-darker;
    transition: fill $duration-medium;
    width: 1em;
    height: 1em;
    margin-right: 0.3rem;
    display: inline-block;
    vertical-align: -8%;

    @media only screen and (min-width: $bp-sm) {
      margin-right: $spacing-1;
      width: 1em;
      height: 1em;
    }
  }

  &:link,
  &:visited {
    color: $grey-darker;
    font-weight: 500;
    text-decoration: none;
  }

  &:hover {
    color: $blue;
    svg {
      fill: $blue;
    }
  }
}

@mixin font-sizes($smallest-up, $xsmall-up, $small-up) {
  font-size: $smallest-up;

  @media only screen and (min-width: $bp-xs) {
    font-size: $xsmall-up;
  }

  @media only screen and (min-width: $bp-sm) {
    font-size: $small-up;
  }
}

@mixin widths($smallest-up, $xsmall-up, $small-up) {
  width: $smallest-up;

  @media only screen and (min-width: $bp-xs) {
    width: $xsmall-up;
  }

  @media only screen and (min-width: $bp-sm) {
    width: $small-up;
  }
}

@mixin strike-under($height, $topMargin) {
  position: relative;

  &:after {
    content: '';
    border-radius: 0.2rem;
    display: block;
    height: $height;
    background: linear-gradient(
      -90deg,
      transparentize($blue-light, 0.7),
      $blue-light
    );
    width: 100%;
    position: absolute;
    transform: rotate(-2deg);
    margin-top: $topMargin;
    z-index: -1;
  }
}
