.navigation {
  margin: $spacing-2 0 0 0;
  padding: 0 $spacing-2;

  @media only screen and (min-width: $layout-width-semi-wide) {
    padding: 0;
  }

  .inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    display: flex;

    list-style: none;
    padding: $spacing-3 $spacing-2;
    text-align: center;
  }

  &__links-item {
    margin: 0 0 0 $spacing-1;

    @media only screen and (min-width: $bp-sm) {
      margin-left: $spacing-3;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    @include nav-link;
    @include bar-link;
    display: block;
    margin: 0;
    padding: $spacing-1 $spacing-1 calc(#{$spacing-1} + 0.2rem) $spacing-1;

    &:link,
    &:visited {
      font-size: 1.1rem;
    }
  }
}
