.navigation {
  @include inner-wrapper;
  display: flex;
  font-family: $header-font-family;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-2 0 $spacing-4 0;

  &__links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: $spacing-3 $spacing-2;
    text-align: center;
  }

  &__links-item {
    margin: 0 $spacing-1;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    @include nav-link;

    display: block;
    padding: $spacing-1;

    span {
      display: none;
      @media only screen and (min-width: $bp-xs) {
        display: inline;
      }
    }

    &:link,
    &:visited {
      font-size: $font-size-md;
    }
  }
}
