.post {
  @media only screen and (max-width: $bp-sm) {
    font-size: 1.1em;
  }

  a:link, a:visited {
    animation: scaleDown $duration-short ease-out 0;
    display: block;
    border: 2px dashed $storm;
    border-radius: 4px;
    padding: 1em;
    text-decoration: none;
    height: 100%;
  }

  a:hover {
    animation: scaleUp $duration-short ease-in 0;
    animation-fill-mode: forwards;
    background: $sky;
    border-color: $blueberry;
    color: black;
    transition: color $duration-medium, background $duration-medium, border-color $duration-medium;
  }

  h3 {
    margin-right: 1.5em;
    line-height: 1.2em;
  }

  &__date {
    color: #888;
    font-size: 0.8em;
  }

  &__description {
    font-size: 0.8em;
    line-height: 1.7em;
    margin: 0;
  }

  &__external-link-icon {
    fill: $storm;
    float: right;
    height: 1em;
    transition: fill $duration-medium;
    width: 1em;

    a:hover & {
      animation: openOut $duration-medium ease-in-out;
      animation-iteration-count: infinite;
      fill: $sea;
    }
  }
}
