/* autoprefixer: off */
@keyframes openOut {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(15%, -15%);
  }
  100% {
    transform: translate(0, 0);
  }
}
/* autoprefixer: on */

.post {
  display: block;
  background: $blue-lightest;
  padding: $spacing-3;
  text-decoration: none;
  transform: scale(1);
  transition: transform $duration-short ease-in-out;

  h3 {
    margin: $spacing-1 0;
    font-size: 1.4rem;
  }

  &__date {
    color: $blue-dark;
    display: inline-block;
    font-weight: 500;
    font-size: $font-size-md;
    margin: 0 0 $spacing-1 0;
    width: 100%;
    text-align: center;
  }

  &__description {
    font-size: $font-size-md;
    margin: 0;
  }

  svg {
    display: inline;
    fill: $blue-darkest;
    height: 1rem;
    margin-left: $spacing-1;
    transition: fill $duration-medium;
    width: 1rem;
  }

  &:hover {
    background: darken($blue-lightest, 2%);
    color: $blue-darkest;
    transform: scale(1.05);
    transition: transform $duration-short ease-in-out,
      background-color $duration-short ease-in-out;

    svg {
      animation: openOut $duration-medium ease-in-out;
      animation-iteration-count: infinite;
    }
  }
}
