.posts {
  margin: $spacing-2 0 $spacing-2 $spacing-2;

  &__post {
    list-style-type: square;
    margin-bottom: 0.3rem;
  }

  &__post-date {
    color: $soot;
    font-size: $font-size-md;
    margin-left: $spacing-1;
  }

  &__post-external-icon {
    fill: $ash;
    display: inline-block;
    margin-left: $spacing-1;
    width: 1em;
    height: 1em;
  }
}

.tip {
  background: rgba(255, 165, 0, 0.1);
  border-left: 3px solid $orange;
  padding: $spacing-2;
  margin: $spacing-2 0;
  border-radius: $border-radius-2;

  &__title {
    font-size: $font-size-base;
    margin: 0 0 $spacing-1;
    color: $snow;
  }

  &__text {
    margin: 0;
  }
}

.article-image {
  margin: $spacing-2 0;
  border-radius: $border-radius-2;

  &--bordered {
    border: 1px solid $soot;
  }
}
