body {
  background: $charcoal;
  color: $snow;
}

.container {
  margin: 0 auto;
  padding: $spacing-2;
  max-width: $bp-sm;
}

section {
  margin: $spacing-4 0;
  &:first-child {
    margin-top: 0;
  }
}
