body {
  background: $white;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.inner-wrapper {
  margin: 0 auto;
  max-width: $layout-width;

  &--semi-wide {
    max-width: $layout-width-semi-wide;
  }

  &--wide {
    max-width: $layout-width-wide;
  }

  &--semi-narrow {
    max-width: $layout-width-semi-narrow;
  }

  &--padded {
    padding: 0 $spacing-2;

    @media only screen and (min-width: $layout-width-semi-narrow) {
      padding: 0;
    }
  }
}

.inner-wrapper--clear {
  overflow: auto;
}

main {
  margin: 0;
  padding: $spacing-4 0 0 0;
}
