body {
  background: $white;
  font-family: $sans-font-family;
}

.wrapper-article {
  @include inner-wrapper;
  max-width: $layout-width-semi-narrow;
  padding-left: $spacing-gutter-sm;
  padding-right: $spacing-gutter-sm;

  @media only screen and (min-width: $layout-width-semi-narrow) {
    padding-left: 0;
    padding-right: 0;
  }
}

.wrapper-60-40 {
  @include viewport-padding;

  display: flex;
  flex-direction: column;

  &--mobile-reverse {
    flex-direction: column-reverse;
  }

  @media only screen and (min-width: $bp-sm) {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }

  > div {
    &:nth-child(1) {
      @media only screen and (min-width: $bp-sm) {
        flex: 1 1 auto;
        margin-right: $spacing-2;
      }

      @media only screen and (min-width: $bp-md) {
        flex: 1 1 auto;
        margin-right: $spacing-4;
      }
    }

    &:nth-child(2) {
      @media only screen and (min-width: $bp-sm) {
        flex: 0 0 40%;
      }

      @media only screen and (min-width: $bp-md) {
        flex: 0 0 37%;
      }
    }
  }
}

hr {
  border-bottom: none;
  border-color: $beige;
  margin: $spacing-3 0;
}
