$table-border: 1px solid $ash;

.table {
  border-collapse: collapse;
  border-top: $table-border;
  border-left: $table-border;
  font-size: $font-size-md;
  margin: $spacing-1 0 $spacing-2;
  width: 100%;

  th,
  td {
    border-bottom: $table-border;
    border-right: $table-border;
    text-align: center;
  }
}
