table {
  @include purple-container;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  padding: $spacing-1 $spacing-2;
  width: 100%;

  th, td {
    padding: $spacing-1;
    text-align:center;
    position: relative;
    z-index: 2;
  }
}

.table {
  &__container {
    @include purple-container;
  }
}
