.testimonial {
  &__image {
    box-shadow: 0 0 $spacing-1 $grey-lighter;
    float: left;
    border-radius: $border-radius-1;
    max-height: 3rem;
    max-width: 3rem;
    margin: 0 $spacing-2 $spacing-2 auto;

    @media only screen and (min-width: $bp-sm) {
      margin: 0 $spacing-3 $spacing-2 auto;
      max-height: 4rem;
      max-width: 4rem;
    }
  }

  &__citation {
    color: $beige-darker;
    font-weight: 400;
    font-size: $font-size-sm;
    line-height: $font-size-sm;

    cite {
      font-style: normal;
    }
  }

  &__quote {
    margin: $spacing-2 0;
    font-style: italic;
    font-size: $font-size-sm;
    line-height: $font-size-lg;

    @media only screen and (min-width: $bp-sm) {
      font-size: $font-size-md;
      line-height: $font-size-xl;
    }

    @media only screen and (min-width: $bp-md) {
      font-size: $font-size-base;
    }

    &:before {
      color: darken($beige, 8%);
      content: '“';
      font-family: $serif-font-family;
      font-weight: bold;
      font-size: 6rem;
      margin-left: -1rem;
      margin-top: 1rem;
      position: absolute;
      z-index: -1;
    }
  }
}
