.tip {
  @include purple-container;
  margin: 0 calc(0rem - #{$spacing-gutter}) $spacing-3
    calc(0rem - #{$spacing-gutter});
  padding: $spacing-2 $spacing-gutter;

  @media only screen and (min-width: $bp-sm) {
    margin: 0.5rem calc(0rem - #{$spacing-2}) $spacing-3
      calc(0rem - #{$spacing-2});
    padding: $spacing-2;
  }

  &__title {
    display: inline;
    margin: 0 $spacing-1 0 0;
    text-transform: none;
  }

  &__text {
    display: inline;
  }
}
