.two-thirds-section {
  @include inner-wrapper;

  margin: $spacing-5 auto;
  padding: 0 $spacing-2;

  @media only screen and (min-width: $layout-width) {
    padding: 0;
  }

  &__title {
    @media only screen and (min-width: $bp-sm) {
      max-width: calc(100vw - (2 * #{$spacing-3}) - #{$spacing-5} - 20rem);
    }

    &--right {
      @media only screen and (min-width: $bp-sm) {
        margin-left: calc(20rem + #{$spacing-5});
      }
    }
  }

  &__item-container {
    @media only screen and (min-width: $bp-sm) {
      display: flex;
      justify-content: space-between;

      div:first-child {
        @media only screen and (min-width: $bp-sm) {
          margin-right: $spacing-2;
        }

        @media only screen and (min-width: $bp-md) {
          margin-right: $spacing-4;
        }
      }

      &--reverse {
        flex-direction: row-reverse;

        div:first-child {
          margin-right: 0;
        }

        div:nth-child(2) {
          @media only screen and (min-width: $bp-sm) {
            margin-right: $spacing-2;
          }

          @media only screen and (min-width: $bp-md) {
            margin-right: $spacing-4;
          }
        }
      }
    }
  }

  &__content {
    h2 {
      margin-top: 0;
    }

    @media only screen and (min-width: $bp-sm) {
      flex: 1 1 100%;
      max-width: 45rem;

      p:first-child {
        margin-top: 0;
      }
    }
  }

  &__graphic {
    @media only screen and (min-width: $bp-sm) {
      flex: 0 0 20rem;
      margin: -3rem 0 0 0;
    }

    svg {
      display: block;
      margin: 0 auto;
      max-width: 20rem;
      @media only screen and (min-width: $bp-md) {
        max-width: 30rem;
      }
    }
  }
}
