body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: $font-size-lg;
  letter-spacing: 0.5px;
  font-weight: 600;
}

h2 {
  font-size: $font-size-semi-lg;
  font-weight: 600;
  margin: $spacing-1 0 $spacing-2;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: $spacing-1 0 $spacing-2;
  letter-spacing: 0.5px;
}

p,
ul,
ol {
  color: $smoke;
  font-size: $font-size-md;
  font-weight: 300;
  margin: $spacing-1 0 $spacing-3;
  line-height: 1.45rem;
}

strong {
  color: $snow;
  font-weight: 500;
}

li {
  margin-bottom: 0.5rem;
}

p.lead {
  color: $snow;
  font-weight: 400;
  font-size: $font-size-base;
  margin: 0 0 $spacing-3 0;
}

h2 + p.lead {
  margin-top: -0.7rem;
}

a:link,
a:visited {
  color: $orange;
  line-height: 2rem;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-style: dotted;
  transition: color $duration-short ease-in-out;
}

a:hover,
a:active {
  color: $peach;
}
