h1 {
  font-size: $font-size-lg;
}

h2 {
  font-size: $font-size-semi-lg;
  margin: $spacing-1 0 $spacing-2;
}

h3 {
  font-size: $font-size-base;
  margin: $spacing-1 0 $spacing-2;
}

p,
ul,
ol {
  font-size: $font-size-md;
  margin: $spacing-1 0 $spacing-2;
}

a:link,
a:visited {
  color: $orange;
}

a:hover,
a:active {
  color: $orange;
  text-decoration: none;
}
