body {
  color: $beige-darkest;
}

h1,
h2,
h3,
h4 {
  font-family: $sans-font-family;
  font-weight: 600;

  &.hidden {
    @media only screen and (min-width: $bp-sm) {
      display: none;
    }
  }
}

h1 {
  font-size: 2.4rem;
  line-height: 3.7rem;
  margin: $spacing-3 0;

  @media only screen and (min-width: $bp-sm) {
    font-size: 3.5rem;
    line-height: 4rem;
  }

  @media only screen and (min-width: $bp-md) {
    font-size: 4.6rem;
    line-height: 5rem;
  }
}

h2 {
  font-size: 1.9rem;
  line-height: 2.5rem;
  margin: $spacing-2 0;

  @media only screen and (min-width: $bp-sm) {
    font-size: 2.2rem;
    margin: $spacing-4 0;
  }
}

h3 {
  font-size: 1.6rem;
  margin: $spacing-2 0;

  &.small {
    font-size: 1.3rem;
  }
}

h4 {
  font-size: $font-size-base;
  margin: $spacing-2 0;

  @media only screen and (max-width: $bp-sm) {
    font-size: 1rem;
  }
}

p,
ul,
ol,
table {
  font-family: $sans-font-family;
  font-size: $font-size-base;
  line-height: 1.9rem;
  margin: 0 0 $spacing-3 0;

  @media only screen and (max-width: $bp-sm) {
    font-size: 1rem;
  }
}

p {
  margin: $spacing-1 0 $spacing-3 0;

  &.lead {
    font-weight: 600;
  }
}

li {
  margin-bottom: 0.5rem;
}

strong {
  font-weight: 600;
}

a:link,
a:visited {
  color: $beige-darkest;
}

a:hover,
a:active {
  color: $beige-dark;
  transition: color $duration-medium;
}
