// Breakpoints:
$bp-sm: 50rem;
$bp-md: 76rem;

// Colours:
$white: #fff;

$grey: #999;
$grey-darker: darken($grey, 40%);
$grey-dark: darken($grey, 33%);
$grey-light: lighten($grey, 5%);
$grey-lighter: lighten($grey, 10%);
$grey-lightest: lighten($grey, 25%);

$purple: #ca8ee8;
$purple-light: lighten($purple, 10%);
$purple-lighter: lighten($purple, 20%);
$purple-lightest: lighten($purple, 25%);
$purple-dark: darken($purple, 25%);

$green: #52d147;
$green-lighter: lighten($green, 20%);
$green-light: lighten($green, 5%);
$green-dark: darken($green, 5%);
$green-darker: darken($green, 15%);

$red-light: #ffb3b3;
$yellow: #ffe791;

$blue: #8ac7ff;
$blue-light: lighten($blue, 10%);
$blue-dark: darken($blue, 45%);
$blue-darker: darken($blue, 80%);

// Spacings
$spacing-1: 0.5rem;
$spacing-2: 1rem;
$spacing-3: 2rem;
$spacing-4: 4rem;
$spacing-5: 6rem;
$spacing-6: 10rem;

// Border radiuses
$border-radius-1: 0.3rem;
$border-radius-2: 0.5rem;
$border-radius-3: 1rem;

// Font-sizings
$font-size-xl: 1.8rem;
$font-size-lg: 1.5rem;
$font-size-base: 1.2rem;
$font-size-sm: 1rem;
$font-size-xs: 0.8rem;

// Sizings
$layout-width-semi-narrow: 55rem;
$layout-width: 70rem;
$layout-width-semi-wide: 90rem;
$layout-width-wide: 110rem;

// Transitions
$duration-short: 0.25s;
$duration-medium: 0.5s;

// Fonts:
$sans-font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
  helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
$fixed-font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
  monospace;
