// Breakpoints:
$bp-sm: 47.9rem; // Portrait iPad
$bp-md: 76rem;

// Colours:
$white: #fff;

$grey: #999;
$grey-light: lighten($grey, 5%);
$grey-lighter: lighten($grey, 10%);
$grey-lightest: lighten($grey, 25%);
$grey-dark: darken($grey, 33%);
$grey-darker: darken($grey, 40%);

$purple: #7209b7;
$purple-light: lighten($purple, 20%);
$purple-lighter: lighten($purple, 50%);
$purple-lightest: lighten($purple, 60%);
$purple-dark: darken($purple, 5%);

$blue: #4895ef;
$blue-dark: darken($blue, 10%);

$pink: #f72585;
$pink-dark: darken($pink, 10%);

// Spacings
$spacing-1: 0.5rem;
$spacing-2: 1rem;
$spacing-3: 2rem;
$spacing-4: 4rem;
$spacing-5: 6rem;
$spacing-6: 10rem;

// Border radiuses
$border-radius-1: 0.3rem;
$border-radius-2: 0.5rem;
$border-radius-3: 1rem;

// Font-sizings
$font-size-xl: 1.8rem;
$font-size-lg: 1.5rem;
$font-size-base: 1.2rem;
$font-size-sm: 1rem;
$font-size-xs: 0.8rem;

// Sizings
$layout-width-semi-narrow: 55rem;
$layout-width: 80rem;
$layout-width-semi-wide: calc(80rem + #{$spacing-4} + #{$spacing-4});
$layout-width-wide: 110rem;

// Transitions
$duration-short: 0.25s;
$duration-medium: 0.5s;

// Fonts:
$sans-font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
  helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
$fixed-font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
  monospace;
