// Breakpoints:
$bp-xs: 30rem;
$bp-sm: 47.9rem; // Portrait iPad
$bp-md: 76rem;

// Colours:
$charcoal: #333;
$ash: #aaa;
$snow: #f9f9f9;
$orange: orange;

// Spacings
$spacing-1: 0.5rem;
$spacing-2: 1rem;
$spacing-3: 2rem;
$spacing-4: 3rem;
$spacing-5: 5rem;

// Border radiuses
$border-radius-1: 0.3rem;
$border-radius-2: 0.5rem;

// Font-sizings
$font-size-lg: 1.6rem;
$font-size-semi-lg: 1.3rem;
$font-size-base: 1.1rem;
$font-size-md: 1rem;
$font-size-sm: 0.9rem;
$font-size-xs: 0.8rem;

// Fonts:
$sans-font-family: 'Lato', helvetica neue, helvetica, Ubuntu, roboto, noto,
  segoe ui, arial, sans-serif;
