@import 'variables';
@import 'mixins';

@import 'article';
@import 'code-sample';
@import 'gallery';
@import 'table';
@import 'post-link';
@import 'tip';

.code {
  background: darken($blue, 10%);
  font-family: $fixed-font-family;
  letter-spacing: -1px;
  padding: 0 0.2rem;
}
