.clickable-icon,
a.clickable-icon:link,
a.clickable-icon:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-1);
  background: transparent;
  border: none;
  border-radius: var(--border-radius-1);
  cursor: pointer;
  transition: background-color var(--duration-short) ease-in-out;
}

.clickable-icon:hover,
a.clickable-icon:hover {
  background-color: var(--bg-card);
}

.clickable-icon__icon {
  width: 24px;
  height: 24px;
  filter: var(--icon-filter);
  transition: filter var(--duration-short) ease-in-out;
}

.clickable-icon:hover .clickable-icon__icon {
  filter: var(--icon-filter-hover);
}

.clickable-icon span {
  display: block;
  margin-left: var(--spacing-2);
  font-size: var(--font-size-small);
  color: var(--text);
}

.clickable-icon:hover span {
  color: var(--accent-hover);
}
