.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-4);
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid__item {
  min-width: 0;
  display: flex;
}

.grid__item--full {
  grid-column: 1 / -1;
}

.grid .card {
  margin: 0;
  height: 100%;
}

.grid__placeholder {
  display: none;
  background: var(--bg-translucent);
  border-radius: var(--border-radius-2);
  width: 100%;
}

@media (min-width: 768px) {
  .grid__placeholder {
    display: block;
  }
}
