.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--spacing-2) 0;
}

.header h1 {
  margin: 0;
}

.header__lead {
  margin: 0;
  display: none;
}

@media (min-width: 480px) {
  .header__lead {
    display: block;
  }
}

.header--blog {
  margin: var(--spacing-3) 0 var(--spacing-4) 0;
  text-align: center;
}

.header__content {
  margin-right: var(--spacing-2);
}

.header__aside img {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0;
  height: auto;
  width: 7.5rem;
  border-radius: 100%;
}

@media (min-width: 480px) {
  .header__aside img {
    width: 10rem;
  }
}

@media (min-width: 768px) {
  .header__aside img {
    width: 12rem;
  }
}

.header a:link,
.header a:visited {
  color: var(--text);
  text-decoration: none;
}

.header a:hover {
  color: var(--text-muted);
}
