.icon-button,
a.icon-button:link,
a.icon-button:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-1) var(--spacing-2);
  background: transparent;
  border: none;
  border-radius: var(--border-radius-1);
  cursor: pointer;
  transition: background-color var(--duration-short) ease-in-out;
}

.icon-button:hover,
a.icon-button:hover {
  background-color: var(--bg-card);
}

.icon-button__icon {
  width: 24px;
  height: 24px;
  filter: var(--icon-filter);
  transition: filter var(--duration-short) ease-in-out;
}

.icon-button:hover .icon-button__icon {
  filter: var(--icon-filter-hover);
}

.icon-button span {
  display: block;
  margin-left: var(--spacing-1);
  font-size: var(--font-size-small);
  color: var(--text);
}

.icon-button:hover span {
  color: var(--accent-hover);
}
