@import './reset.css';
@import './variables.css';

@import './structure.css';
@import './typography.css';

@import './header.css';
@import './card.css';
@import './grid.css';
@import './posts.css';
@import './gallery.css';
@import './figure.css';
@import './table.css';
@import './footer.css';
