.profile-gallery {
  display: flex;
  flex-direction: row;
  margin: var(--spacing-2) 0 var(--spacing-4) 0;
  padding: var(--spacing-1) 0;
  isolation: isolate;
}

@media only screen and (min-width: 640px) {
  .profile-gallery {
    padding: var(--spacing-1) 0.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .profile-gallery {
    padding: var(--spacing-1) 2.8rem;
  }
}

.profile-gallery__image {
  background: #fff;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.2));
  height: auto;
  flex: 1 1 100%;
  min-width: 0;
  margin: 0;
  padding: 8px;
  position: relative;
}

.profile-gallery__image:nth-child(1) {
  transform: rotate(-8deg) translateY(10px);
  z-index: 1;
}

.profile-gallery__image:nth-child(2) {
  z-index: 2;
}

.profile-gallery__image:nth-child(3) {
  transform: rotate(8deg) translateY(10px);
  z-index: 1;
}
