.profile-gallery {
  display: flex;
  flex-direction: row;
  margin: var(--spacing-3) auto var(--spacing-4) auto;
  padding: var(--spacing-1) 0;
  max-width: 520px;
}

@media only screen and (min-width: 640px) {
  .profile-gallery {
    padding: var(--spacing-1) 0.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .profile-gallery {
    padding: var(--spacing-1) 2.8rem;
  }
}

.profile-gallery__image {
  background: var(--bg-photo);
  filter: drop-shadow(0 0 6px var(--shadow-photo));
  height: auto;
  flex: 1 1 100%;
  min-width: 0;
  margin: 0;
  padding: 8px;
  position: relative;
}

.profile-gallery__image:nth-child(1) {
  transform: rotate(-8deg) translateY(10px);
  z-index: 1;
}

.profile-gallery__image:nth-child(2) {
  z-index: 2;
}

.profile-gallery__image:nth-child(3) {
  transform: rotate(8deg) translateY(10px);
  z-index: 1;
}
