.social-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: var(--spacing-2) 0 var(--spacing-3) 0;
  gap: var(--spacing-2);
}

@media (min-width: 768px) {
  .social-links {
    margin-bottom: 0;
  }
}
