body {
  background: var(--bg);
  color: var(--text);
  padding-top: 5rem;
}

.container {
  margin: 0 auto;
  padding: var(--spacing-2);
  max-width: var(--bp-lg);
}

@media (min-width: 768px) {
  .container {
    padding: var(--spacing-4);
  }
}

section {
  margin: var(--spacing-5) 0;
  scroll-margin-top: 5rem;
}

section:first-child {
  margin-top: 0;
}
