body {
  background: var(--bg);
  color: var(--text);
}

.container {
  margin: 0 auto;
  padding: var(--spacing-2);
  max-width: var(--bp-lg);
}

section {
  margin: var(--spacing-5) 0;
}

section:first-child {
  margin-top: 0;
}
