body {
  background: var(--charcoal);
  color: var(--snow);
}

.container {
  margin: 0 auto;
  padding: var(--spacing-2);
  max-width: var(--bp-sm);
}

section {
  margin: var(--spacing-4) 0;
}

section:first-child {
  margin-top: 0;
}
