.table {
  border-collapse: collapse;
  border-top: 1px solid var(--text);
  border-left: 1px solid var(--text);
  font-size: var(--font-size-md);
  margin: var(--spacing-1) 0 var(--spacing-2);
  width: 100%;
}

.table th,
.table td {
  border-bottom: 1px solid var(--text);
  border-right: 1px solid var(--text);
  text-align: center;
}
