body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: var(--font-size-lg);
  letter-spacing: 0.5px;
  font-weight: 600;
}

h2 {
  font-size: var(--font-size-semi-lg);
  font-weight: 600;
  margin: var(--spacing-1) 0 var(--spacing-2);
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: var(--spacing-1) 0 var(--spacing-2);
  letter-spacing: 0.5px;
}

p,
ul,
ol {
  color: var(--smoke);
  font-size: var(--font-size-md);
  font-weight: 300;
  margin: var(--spacing-1) 0 var(--spacing-3);
  line-height: 1.45rem;
}

strong {
  color: var(--snow);
  font-weight: 500;
}

li {
  margin-bottom: 0.5rem;
}

p.lead {
  color: var(--snow);
  font-weight: 400;
  font-size: var(--font-size-base);
  margin: 0 0 var(--spacing-3) 0;
}

h2 + p.lead {
  margin-top: -0.7rem;
}

a:link,
a:visited {
  color: var(--orange);
  line-height: 2rem;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-style: dotted;
  transition: color var(--duration-short) ease-in-out;
}

a:hover,
a:active {
  color: var(--peach);
}
