:root {
  /* Breakpoints */
  --bp-xs: 30rem;
  --bp-sm: 47.9rem;

  /* Colours */
  --charcoal: #222;
  --soot: #999;
  --ash: #aaa;
  --smoke: #e1e1e1;
  --snow: #f9f9f9;
  --orange: rgb(214, 169, 85);
  --peach: #e9c98a;

  /* Spacings */
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 2rem;
  --spacing-4: 3rem;
  --spacing-5: 5rem;

  /* Border radiuses */
  --border-radius-2: 0.5rem;

  /* Font-sizings */
  --font-size-xl: 2.7rem;
  --font-size-lg: 2rem;
  --font-size-semi-lg: 1.6rem;
  --font-size-base: 1.1rem;
  --font-size-md: 1.1rem;
  --font-size-sm: 0.9rem;
  --font-size-xs: 0.8rem;

  /* Durations */
  --duration-short: 0.25s;
}
