mixin map
  svg.illustration.styles_illustrationTablet__1DWOa(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 458 361.5' width='406' height='306')
    defs
      lineargradient#a(x1='429.5' y1='276.1' x2='446' y2='256.4' gradientunits='userSpaceOnUse')
        stop(offset='0' stop-opacity='0')
        stop(offset='1')
      lineargradient#d(x1='388.9' y1='278.7' x2='419.7' y2='251.8' xlink:href='#a')
        lineargradient#e(x1='410.7' y1='204.2' x2='452.3' y2='277.4' xlink:href='#a')
          lineargradient#f(x1='362.9' y1='344.6' x2='366.8' y2='122.7' xlink:href='#a')
            lineargradient#g(x1='304.9' y1='262.3' x2='385.9' y2='262.3' xlink:href='#a')
              lineargradient#h(x1='397.6' y1='223.2' x2='459.7' y2='104.9' xlink:href='#a')
                lineargradient#b(x1='390' y1='132.7' x2='416.9' y2='132.7' gradientunits='userSpaceOnUse')
                  stop(offset='0' stop-color='#e5c5d5')
                  stop(offset='.4' stop-color='#ead4d1')
                  stop(offset='1' stop-color='#f0e9cb')
                lineargradient#i(x1='295' y1='189.3' x2='295' y2='248.6' xlink:href='#a')
                  lineargradient#j(x1='191.5' y1='285.3' x2='188.4' y2='179.3' xlink:href='#a')
                    lineargradient#k(x1='237' y1='284' x2='233.9' y2='177.9' xlink:href='#a')
                      lineargradient#l(x1='408.5' y1='345.4' x2='412.4' y2='123.5' xlink:href='#a')
                        lineargradient#m(x1='43.8' y1='314.1' x2='58.6' y2='183.7' xlink:href='#a')
                          lineargradient#n(x1='57.3' y1='152.1' x2='-7.2' y2='189.5' xlink:href='#a')
                            lineargradient#o(x1='55.8' y1='203.9' x2='19.6' y2='120.4' xlink:href='#a')
                              lineargradient#p(x1='108.5' y1='149.5' x2='130.4' y2='149.5' xlink:href='#b')
                                lineargradient#q(x1='49.2' y1='177.2' x2='68.9' y2='177.2' xlink:href='#b')
                                  lineargradient#r(x1='52.6' y1='108' x2='74.3' y2='108' xlink:href='#b')
                                    lineargradient#s(x1='52.4' y1='107' x2='70.8' y2='114.6' xlink:href='#b')
                                      lineargradient#t(x1='55.7' y1='107.2' x2='50.3' y2='108' xlink:href='#b')
                                        lineargradient#u(x1='60.8' y1='128.5' x2='62.5' y2='104.6' xlink:href='#a')
                                          lineargradient#v(x1='96.4' y1='145' x2='79.8' y2='191.1' xlink:href='#a')
                                            lineargradient#c(x1='137.2' y1='42.5' x2='304.4' y2='42.5' gradientunits='userSpaceOnUse')
                                              stop(offset='0' stop-color='#fff' stop-opacity='0')
                                              stop(offset='.3' stop-color='#fff' stop-opacity='.4')
                                              stop(offset='.7' stop-color='#fff' stop-opacity='.7')
                                              stop(offset='1' stop-color='#fff')
                                            lineargradient#w(x1='216.8' y1='126.1' x2='291.4' y2='96.1' xlink:href='#c')
                                              lineargradient#x(x1='270.9' y1='99.3' x2='314.5' y2='86.6' xlink:href='#c')
                                                lineargradient#y(x1='137.4' y1='59.5' x2='143.6' y2='147.7' xlink:href='#c')
                                                  lineargradient#z(x1='148.2' y1='58.7' x2='154.4' y2='146.9' gradientunits='userSpaceOnUse')
                                                    stop(offset='0' stop-color='#fff' stop-opacity='0')
                                                    stop(offset='.3' stop-color='#fff' stop-opacity='.4')
                                                    stop(offset='.7' stop-color='#fff' stop-opacity='.7')
                                                    stop(offset='1' stop-color='#fff')
                                                  lineargradient#A(x1='160.1' y1='57.9' x2='166.3' y2='146.1' xlink:href='#c')
                                                    lineargradient#B(x1='171.7' y1='57.1' x2='177.9' y2='145.3' xlink:href='#c')
                                                      lineargradient#C(x1='374.2' y1='159.8' x2='387.8' y2='159.8' xlink:href='#b')
                                                        lineargradient#D(x1='174.6' y1='271.3' x2='148.3' y2='281.1' xlink:href='#a')
                                                          lineargradient#E(x1='-1838' y1='-287.3' x2='-1839.2' y2='-266.5' gradienttransform='rotate(20.4 -2392.5 5552.2)' xlink:href='#a')
                                                            lineargradient#F(x1='128.6' y1='260.9' x2='136.8' y2='303.5' xlink:href='#a')
                                                              lineargradient#G(x1='-7491.4' y1='2657.1' x2='-7492.6' y2='2677.9' gradienttransform='scale(-1 1) rotate(34.8 34.4 13219.5)' xlink:href='#a')
                                                                lineargradient#H(x1='152.9' y1='243.3' x2='149.6' y2='297.6' xlink:href='#a')
                                                                  lineargradient#I(x1='149.7' y1='273.1' x2='148.7' y2='289.8' xlink:href='#a')
                                                                    lineargradient#J(x1='137.3' y1='301.5' x2='163.9' y2='301.5' xlink:href='#a')
                                                                      lineargradient#K(x1='150' y1='292.2' x2='151.8' y2='300.6' xlink:href='#a')
    path(d='M192.5 360.6c68 5.6 137.1-15.1 194-53 26.3-17.4 51-39.3 63.6-68.2s10.9-65.7-11-88.5c-16.2-17.1-41-24.3-56.6-42-12.3-14-17.2-32.9-25.5-49.6-30.2-60.9-165-85.6-219.8-22.2C84.4 98.1-38 129.6 11.6 259.7c23.8 62.5 119.7 95.8 180.9 100.9z' fill='#b664df' opacity='.2' style='isolation:isolate')
    path(d='M419.8 248.7l13.8 54.8a2.3 2.3 0 002.7 1.7 2.3 2.3 0 001.9-2.6c-1.5-10.6-7.7-56.7-8-57.3s-5.3 0-8.5.5a2.3 2.3 0 00-2 2.9zM404.2 248.7l-13.8 54.8a2.3 2.3 0 01-2.7 1.7 2.3 2.3 0 01-1.9-2.6c1.4-10.6 7.7-56.7 8-57.3s5.3 0 8.4.5a2.3 2.3 0 012 2.9z' fill='#0055a4')
    path(d='M419.7 250l13.8 54.8a2.3 2.3 0 002.7 1.7 2.3 2.3 0 001.9-2.6c-1.5-10.6-7.7-56.7-8-57.3s-5.3.1-8.5.5a2.3 2.3 0 00-2 2.9z' transform='translate(.1 -1.3)' fill='url(#a)')
    path(d='M404 250l-13.7 54.8a2.3 2.3 0 01-2.8 1.7 2.3 2.3 0 01-1.8-2.6c1.4-10.6 7.7-56.7 8-57.3s5.2.1 8.4.5a2.3 2.3 0 012 2.9z' transform='translate(.1 -1.3)' fill='url(#d)')
    path(d='M451.4 184c-.5 2.4-1.8 4.6-2.8 6.9-6.4 15.3 4 35.3-6 48.6-4 5.3-10.4 8.1-16.9 9.1s-13 .3-19.6-.4l-9.5-1c-3-.3-6-.6-8.6-2s-4.8-3.7-5-6.7c-.1-3.6 2.8-6.6 5.4-9a167.8 167.8 0 0027.3-34.5c4.2-7 9.2-16.3 17.8-18.2 6-1.4 19.8-2.3 17.9 7.2z' fill='#0055a4')
    path(d='M447.4 182.4c-.5 2.5-1.8 4.6-2.8 7-6.4 15.3 4 35.3-6 48.6-4 5.2-10.4 8.1-16.9 9.1s-13 .3-19.6-.4l-9.5-1c-3-.3-5.9-.7-8.5-2s-5-3.8-5-6.8c-.2-3.6 2.7-6.5 5.3-9a167.8 167.8 0 0027.3-34.5c4.2-6.9 9.2-16.3 17.8-18.2 6-1.3 19.8-2.2 18 7.2z' transform='translate(.1 -1.3)' fill='url(#e)')
    path(fill='#0055a4' d='M361.5 209.3h5.7v104.4h-5.7z')
    path(fill='url(#f)' d='M361.5 209.3h5.7v104.4h-5.7z')
    path(d='M335.1 280.1a15.7 15.7 0 00-1.8 6.5c0 4.3 3.5 7.8 6.6 10.7a42 42 0 0111.3-17.2c3.5-3 29.3-34.8 33-37.7s29.5-4 30-8.6c.7-5.2-21.4-4.5-25.5-8-5-4.3-29.3 2.5-32.4 6.6-7.2 9.5-16.3 36.9-21.2 47.7z' fill='#3e3e54')
    path(d='M335.1 281.5a15.9 15.9 0 00-1.8 6.5c0 4.3 3.5 7.8 6.7 10.7a42 42 0 0111.2-17.2c3.5-3 29.3-34.8 33-37.7s29.5-4 30-8.6c.7-5.2-21.4-4.5-25.5-8-5-4.3-29.3 2.5-32.4 6.6-7.2 9.5-16.3 36.9-21.2 47.7z' transform='translate(.1 -1.3)' fill='url(#g)')
    rect(x='89.9' y='26.8' width='259.5' height='155.1' rx='12.2' fill='#0055a4' opacity='.5' style='isolation:isolate')
    path(d='M397.5 167.6a17.5 17.5 0 012.8-10.6 24.4 24.4 0 018-7.6c1.8-1.1 3.9-2 6-1.8 1.8.2 4.3-2.5 5.7-1.4 4 3 7 10.2 10.4 13.9a111.5 111.5 0 011.7 15.1l2 38.4c.4 6.4.6 13.3-3.2 18.4a216.7 216.7 0 01-27.9-12.5 6.2 6.2 0 01-2.2-1.6 6.3 6.3 0 01-.9-3.5q-.5-14.4 0-28.7c.2-5.2-2-13-2.4-18.1z' fill='#0055a4')
    path(d='M415 206.8c.4-2 1-4 .7-6-.7-3.6-4.4-6.5-3.8-10 .2-1.5 1.2-2.8 1.8-4.1 1-2.4 1-5.2 1-7.8-.1-3.6-.3-7.3-.6-10.9a14 14 0 00-4 4.8l-7.6 12.1a21.4 21.4 0 00-2 4 21.7 21.7 0 00-1 7l-.3 17.4c0 1.7 0 3.5 1 4.7a6.2 6.2 0 002.9 1.6c3.5 1.2 10 3.4 12-.5 1.8-3.4-.7-8.3 0-12.3z' transform='translate(.1 -1.3)' fill='url(#h)')
    path(d='M404.9 213.5l-27.5 3.5c-4.7.6-9.4 1.2-13.7 3s-8.3 5-9.9 9.4c-3.8 10.5-3 21.4.5 32l8.4 25.6a21.5 21.5 0 003.3 7c1.6 2 4.1 3.4 6.6 3a3.4 3.4 0 002.4-1.5 4.7 4.7 0 00.4-2.5v-46.3c0-2.6.3-5.7 2.5-7.2 1.5-1 3.3-.9 5-.8l30.6 1.8c4.4.3 19.3-5.4 18.4-11.6-1.2-8.2-18.8-16.4-27-15.4z' fill='#3e3e54')
    path(d='M368.8 294.4c-.7 1.4-.3 3.1-1 4.6a7.2 7.2 0 01-2.3 2.6l-7.1 5.8c-1.3 1-2.7 2.5-2.2 4s2.4 2 4 2a83.8 83.8 0 0012-.5c2.4-.2 5.1-.6 6.8-2.5a7.1 7.1 0 001.6-3.5c.7-4.6-1.4-9-3.5-13a1.6 1.6 0 00-.9-1 1.5 1.5 0 00-.8.2 19.6 19.6 0 00-4.7 2.2M312.5 296.5a4.6 4.6 0 00-1.2 1.4 3.9 3.9 0 001.3 4.5 9.9 9.9 0 004.6 1.8 49.1 49.1 0 0012.2.8 5 5 0 005-2.7 82.5 82.5 0 005-9c1.1-2.4-1.2-3.6-3.3-4.1-1.9-.5-3.4.4-5.1 1.1-3.9 1.8-8 2.2-12.1 3.2a16.4 16.4 0 00-6.4 3z' fill='#3e3e54')
    path(d='M391.6 140c1.6 2 2.3 4.7 3.8 6.8a4.6 4.6 0 003.6 2.3c1.9 0 3.2-1.8 4.8-2.7a3.9 3.9 0 003.2 1.8 8.6 8.6 0 003.8-1 21.4 21.4 0 005.6-3.5 1.6 1.6 0 00.5-.7 1.7 1.7 0 000-.9l-3.4-15.7a15.3 15.3 0 00-2.4-6.2 9.8 9.8 0 00-3.7-2.8c-5-2.4-11.5-1.4-15 3.2-2.4 3.2-.5 7-1 10.6-.2 1.6-1 3.1-1.2 4.7-.5 1.8.4 2.8 1.4 4.1z' transform='translate(.1 -1.3)' fill='url(#b)')
    path(d='M390.9 117.8c1.8 2 4.8 2.3 7.5 2.3a15.3 15.3 0 014.1.3 4.5 4.5 0 013.1 2.5c.5 1.1.2 2.4.3 3.7a2.3 2.3 0 00.6 1.5 1 1 0 001.5 0c.5-.5.4-1.7 1.1-1.6a.8.8 0 01.5.5 4.2 4.2 0 010 4.5c-.6.8-1.5 1.9-.9 2.6.4.5 1 .5 1.6.7 1.8.6 1.8 3.5 3.5 4.4a2.7 2.7 0 002.5-.3 6.8 6.8 0 001.9-1.9 31.9 31.9 0 006.1-16 11 11 0 00-.5-5.3 10.7 10.7 0 00-3.4-4c-2-1.8-5-3.2-7.4-2-.8.3-1.6.9-2.4.6a2.8 2.8 0 01-.9-.7c-3.5-3.5-9.2-4.1-13.8-2.3-1.7.7-5 1.4-6 3.2a7.5 7.5 0 001 7.3z' fill='#b7a451')
    path(fill='#0055a4' d='M174.6 201.7h240.7v7.8H174.6z')
    path(fill='url(#i)' d='M174.6 201.7h240.7v7.8H174.6z')
    path(fill='#0055a4' d='M187.9 209.3h5.7v104.4h-5.7zM233.5 209.5h5.7v105.1h-5.7z')
    path(fill='url(#j)' d='M187.9 209.3h5.7v104.4h-5.7z')
    path(fill='url(#k)' d='M233.5 209.5h5.7v105.1h-5.7z')
    path(fill='#0055a4' d='M407.1 209.5h5.7v105.1h-5.7z')
    path(fill='url(#l)' d='M407.1 209.5h5.7v105.1h-5.7z')
    path(d='M32.5 309l-1.2 2.1a10.6 10.6 0 00-1.1 6.7 6.2 6.2 0 003 4.7 7.2 7.2 0 004 .4c2-.3 4.3-1 5.4-2.7a8.7 8.7 0 001-4c.2-2 .3-4.2-.6-6-.6-1.5-1.9-2.6-2.4-4-.5-1.3-.4-2.9-1.5-3.7-1.2-1.1-3.6-.5-4.6.7-1.1 1.5-1 4-2 5.7zM58.3 302.5c-.4 1.2-.8 2.6-.2 3.8.7 1.5 2.6 1.8 4.1 2.6s2.4 2 3.8 2.7a11 11 0 004.6 1 62 62 0 006.3 0 11 11 0 004.5-.8 2.4 2.4 0 00.9-.7c.8-1.1-.1-2.6-1.1-3.5a15 15 0 00-5.8-3.3c-2.6-.8-5.7-1-7.3-3.2-1.2-1.6-1.3-4-3-5.2-4.3-3.3-6 4-6.8 6.6z' fill='#0055a4')
    path(d='M30.4 287l1 12.4c.3 3.2 1 7 4 8.2 2.4.8 5.1-.6 6.5-2.8s1.7-4.7 2-7.2c2.7-23.7 3-47.7 8.4-70.8a440.3 440.3 0 016.4 63.6 18.3 18.3 0 00.8 6.2 6 6 0 004.5 4c2.5.4 4.8-1.5 5.9-3.7s1.1-4.9 1.1-7.4l1.4-90.4c.1-4.2.3-8.7 3-11.8-12.4 0-26 .5-38.4.5a3.7 3.7 0 00-2.3.4 3.8 3.8 0 00-1.1 2.7 416.7 416.7 0 00-3.2 96.1z' fill='#3e3e54')
    path(d='M30.1 288.3l1 12.4c.3 3.2 1 7 4 8.2 2.4.9 5.1-.6 6.5-2.7s1.7-4.8 2-7.3c2.7-23.6 3-47.7 8.4-70.8a440.3 440.3 0 016.4 63.7 18.5 18.5 0 00.8 6.2 6 6 0 004.5 4c2.5.3 4.8-1.6 5.9-3.8s1.1-4.9 1.2-7.4l1.4-90.4c0-4.2.2-8.7 3-11.8-12.5 0-26 .6-38.5.5a3.7 3.7 0 00-2.3.5 3.8 3.8 0 00-1.1 2.6 416.7 416.7 0 00-3.2 96.1z' transform='translate(.1 -1.3)' fill='url(#m)')
    path(d='M112.2 153.2a3.7 3.7 0 01-.8 2.3 3.9 3.9 0 01-2 1 151 151 0 01-28.5 2.8c-1.6 0-3.5 0-4.1-1.4v21.8a20.9 20.9 0 01-.7 6.8c-1.3 4.3-5.4 7.3-9.7 8.6s-9 1.2-13.5 1l-14.3-.4a9.5 9.5 0 01-3.6-.6c-3.3-1.4-3.9-5.7-4-9.2-.5-10.1-.3-20.6.1-31l1-22.1a11 11 0 014.8-8.2 28.7 28.7 0 019-3.8 45 45 0 009.4-3.3 43.3 43.3 0 0116 6 26.6 26.6 0 0111.5 13c.8 2.3 1.4 5 3.4 6.4s4.4 1.2 6.8 1a110 110 0 0114.3 0c1.5.2 3.3.4 4.2 1.7a5.3 5.3 0 01.8 3 36.4 36.4 0 010 4.6z' fill='#0055a4')
    path(d='M53.5 165l-3-1.6-2.5-1.7-5.1-4a6 6 0 01-1-.8 4.1 4.1 0 01-.8-3 10.2 10.2 0 01.9-3.1c.6-1.4 1.2-2.9.8-4.3-.5-1.7-2.5-2.6-4.3-3a2.1 2.1 0 00-.9 0 2 2 0 00-1.2 1.3 15.4 15.4 0 00-1.1 5.1l-.7 6.3a6.7 6.7 0 000 2c.4 1.8 2.3 2.9 4 4a88 88 0 017 5.6 20 20 0 008 4.3 7.4 7.4 0 003.7 0 4.5 4.5 0 002-1.2c1-1 .4-1.4-.5-2.1a37.9 37.9 0 00-5.3-3.8z' transform='translate(.1 -1.3)' fill='url(#n)')
    path(d='M66.8 185s-5.6 2.2-10-.8L45.7 177l-10.4-4v17.3s.3 5.4 3.1 6.8a9.5 9.5 0 01-3.6-.5c-3.2-1.5-3.8-5.7-4-9.2-.4-10.1-.2-20.6.1-31l29 22.1z' transform='translate(.1 -1.3)' fill='url(#o)')
    path(d='M22.5 151.8a8 8 0 00-.7 3.7 7.2 7.2 0 002 3.6c5.4 6.3 13.3 10 20.8 13.4a10.3 10.3 0 004 1.2c3.6 0 5.1-2.2 5.6-5.8a3.5 3.5 0 000-1.7 4.3 4.3 0 00-2-1.9c-4.1-2.7-10-4.8-13.5-8.3a3 3 0 01-1-1.7c0-.9 8.2-14.3 6.3-18.8s-4.4-11.7-9.2-8.9c-6.8 4-10.2 19.4-12.3 25.2z' fill='#0055a4')
    path(d='M119.7 143.2a1 1 0 01.7-.1.8.8 0 01.4.7 6 6 0 01-.4 3l5.3.4c1.7.2 3.7.5 4.4 2s-.4 3.6-1.9 4.7c-2.6 1.8-6 2-9.3 2.1a18 18 0 01-5.7-.5c-2.8-.9-6.1-4.1-4-7 2-2.7 7.6-4 10.5-5.3z' transform='translate(.1 -1.3)' fill='url(#p)')
    path(d='M63.4 170a4 4 0 011.7.5 1.4 1.4 0 01.7 1.5c-.5 1.2-2.7.9-3 2.1a1.8 1.8 0 00.8 1.4l3.1 3.4a8.4 8.4 0 012 2.7 2.8 2.8 0 01-.7 3.1 3.8 3.8 0 01-3 .4 21.5 21.5 0 01-15-10.5c-4.5-8.3 9.7-5 13.4-4.6z' transform='translate(.1 -1.3)' fill='url(#q)')
    path(d='M74.2 97.7l-.8 8.1a3.5 3.5 0 01-.1 1l-.5.8a4.3 4.3 0 00-.1 2c.2 3 0 6.3-2 8.6a5.2 5.2 0 01-1.3 1 6.6 6.6 0 01-4.2.7 4.3 4.3 0 00-1.2 0 1.1 1.1 0 00-.7.3 2 2 0 00-.4.7 14 14 0 00-.5 1.7 3.7 3.7 0 01-.8 1.9 2.4 2.4 0 01-1.7.5 4 4 0 01-.9-.1 10.7 10.7 0 01-3.6-2 4.1 4.1 0 01-2.2-4l-.5-8.6c-.2-4-.4-8.1 1.3-11.8a12.6 12.6 0 0114.9-7 8.3 8.3 0 012.4 1 10.4 10.4 0 012.5 2.5c.7 1 .5 1.6.4 2.7z' transform='translate(.1 -1.3)' fill='url(#r)')
    path(d='M70.9 94.4a24.9 24.9 0 01-4.7 0 11.3 11.3 0 00-5 1 8 8 0 00-4.3 6.4c-.1 1-.2 2.1-1.1 2.3s-1.4-.5-2.2-.6a1.8 1.8 0 00-1.8 1.6 4 4 0 00.7 2.5 17.4 17.4 0 011.3 2.3 4.8 4.8 0 01-1 4.9 16 16 0 01-3.6-8.1 31.1 31.1 0 010-9 8.5 8.5 0 01.9-3l.9-1.3 1-2.4a8.8 8.8 0 015-4.5 16.4 16.4 0 016.8-.9 13.4 13.4 0 004.3-.1c2.4-.7 7.9-3.3 9 .7 1.1 3.8-2.8 7.6-6.2 8.2z' fill='#87630e')
    path(d='M53.3 104a1.4 1.4 0 00-.6 0 3 3 0 00-1.7.6 2 2 0 00-.5.6 2.4 2.4 0 00-.2 1.3 4.3 4.3 0 00.9 2.4c.3.4 2 2 2.5 2s1.6-.7 2-1.1c.4-.6-.7-2.8-.7-3.6a3.6 3.6 0 00-1.8-2.2z' transform='translate(.1 -1.3)' fill='url(#s)')
    path(d='M53.4 107.2a1.1 1.1 0 000-.3.8.8 0 00-.1-.4 1.5 1.5 0 00-1.4-.5 1 1 0 00-.8.6 1.2 1.2 0 00.1.8 5 5 0 00.5 1 2.5 2.5 0 00.8.8 1.2 1.2 0 001 .1c.4-.1.7-.6.5-.9l-.5-.4a1.3 1.3 0 010-.8z' transform='translate(.1 -1.3)' fill='url(#t)')
    path(d='M64 119.9a1.1 1.1 0 00-.7.3 2 2 0 00-.4.7 14 14 0 00-.5 1.7 3.7 3.7 0 01-.8 1.8 2.4 2.4 0 01-1.7.6 4 4 0 01-.9-.2 4.2 4.2 0 01-.3-2 14.5 14.5 0 01.3-2 1.3 1.3 0 01.3-.8 1.5 1.5 0 011-.3h3a4.4 4.4 0 01.7.2z' transform='translate(.1 -1.3)' fill='url(#u)')
    path(d='M76.4 163l.4-5.1v5z' fill='#0055a4')
    path(d='M112.1 154.5a3.7 3.7 0 01-.8 2.3 3.9 3.9 0 01-2 1 151 151 0 01-28.6 2.9c-1.5 0-3.4-.1-4-1.5v-13.5s2.6 8.2 7 8l26.1-1.3z' transform='translate(.1 -1.3)' fill='url(#v)')
    path(fill='url(#c)' d='M137.2 37.1h167.3v10.8H137.2z')
    path(d='M304.4 117a32 32 0 11-28.5-46.8h.2v32.1z' transform='translate(.1 -1.3)' fill='url(#w)')
    path(d='M308 102.3a32 32 0 01-3.6 14.7L276 102.3v-32a32 32 0 0131.8 32z' transform='translate(.1 -1.3)' fill='url(#x)')
    path(fill='url(#y)' d='M137.2 84.7h7.2v45.8h-7.2z')
    path(fill='url(#z)' d='M148.6 98.2h7.2v32.2h-7.2z')
    path(fill='url(#A)' d='M160 84.7h7.2v45.8H160z')
    path(fill='url(#B)' d='M171.4 76.1h7.2v54.3h-7.2z')
    path(d='M402.1 188.3l-10.8 9.7c-2.4 2.1-5.3 4.4-8.5 4.1a7.9 7.9 0 01-5.5-3.5 19.2 19.2 0 01-2.5-6.2 70.3 70.3 0 01-1.5-27 2 2 0 01.3-1 2.1 2.1 0 011.7-.5l5-.2a2.5 2.5 0 013 1.8l4.8 10.9c3.6-3.8 9.3-16.3 12.9-20 .9-1 9.4-8.7 13.5 8.5 1.5 6-7.7 19.3-12.4 23.4z' fill='#0055a4')
    path(d='M374.4 157.4a6.8 6.8 0 01.6-2.6 6.5 6.5 0 012-2 20.2 20.2 0 015-2.7 4 4 0 012-.3 3.4 3.4 0 011.8 1 6.7 6.7 0 011.5 7.1c-1.1 2.7-4 4.4-4.7 7.2-.3 1.2-.2 2.6-1 3.5a4.4 4.4 0 01-3.1 1.3c-2.9.2-3.6-.7-3.9-3.2a48.6 48.6 0 01-.2-9.3z' transform='translate(.1 -1.3)' fill='url(#C)')
    path(d='M404.7 152v-3.8a1.4 1.4 0 01.1-.7 1.3 1.3 0 01.6-.4c1.8-.7 3.7-1 5.4-1.9 2.2-1 4.1-2.8 6.5-2.8a1 1 0 01.7.2 1 1 0 01.2.5l.8 2.8a.6.6 0 010 .5.7.7 0 01-.4.3l-2.5.9c-4 1.4-8 2-11.4 4.4zM154.3 273.3c1.7-5.5 4.3-10.8 8.5-14.7s10-6.4 15.6-5.6c2 .3 4.2 1.1 5.3 3a6 6 0 01-.6 6.1 18 18 0 01-4.8 4.4 67.2 67.2 0 00-11.2 9.3 25.6 25.6 0 00-5.5 9.2c-.7 2.4 0 6.3-2 8a5 5 0 01-5.4.6c-2.5-1.5-2.1-5-2-7.5a45.7 45.7 0 012-12.8z' fill='#0055a4')
    path(d='M154.2 274.6c1.7-5.5 4.3-10.8 8.5-14.7s10-6.4 15.6-5.6c2 .3 4.2 1.2 5.2 3a6 6 0 01-.5 6.1 18 18 0 01-4.8 4.4 67.2 67.2 0 00-11.2 9.3 25.6 25.6 0 00-5.5 9.2c-.7 2.4 0 6.3-2 8a5 5 0 01-5.4.6c-2.5-1.4-2.1-5-2-7.4a45.7 45.7 0 012-12.9z' transform='translate(.1 -1.3)' fill='url(#D)')
    path(d='M155 282.2a15.4 15.4 0 01-.4-2.8 5.7 5.7 0 012-4.4 21 21 0 012-1.3 5.3 5.3 0 002.8-4V268a1.6 1.6 0 01.9-1.5 1.8 1.8 0 011.8.9 6.8 6.8 0 011.3 3.8 12.3 12.3 0 01-.6 4 10.2 10.2 0 01-4 5.8 25.5 25.5 0 00-2.4 1.4 8.5 8.5 0 00-2.3 3.8c-.1.2-.8 6.2-1 6.3-.8.7.2-6.8.2-7.1a12.7 12.7 0 00-.3-3z' transform='translate(.1 -1.3)' fill='url(#E)')
    path(d='M139.3 285.8a17.2 17.2 0 00-5.1-3.3 96 96 0 01-10.7-6c-1.6-1.2-3.3-2.4-3.8-4.2s0-3.6.6-5.4 1.6-4 3.6-4.4a5.3 5.3 0 013 .6 28.8 28.8 0 0114 12.9 45.5 45.5 0 012 4.4 86.7 86.7 0 013.5 10.9c.6 2.6-1.4 7.4-3.6 3.4-1.7-2.9-1-6.3-3.5-9z' fill='#0055a4')
    path(d='M139.2 287a17.2 17.2 0 00-5.1-3.2 96 96 0 01-10.7-6c-1.6-1.1-3.3-2.4-3.8-4.2s0-3.6.6-5.4 1.6-4 3.5-4.4a5.3 5.3 0 013.1.6 28.8 28.8 0 0114 12.9 45.5 45.5 0 012 4.4 86.7 86.7 0 013.5 10.9c.6 2.6-1.4 7.4-3.6 3.5-1.7-3-1-6.4-3.5-9z' transform='translate(.1 -1.3)' fill='url(#F)')
    path(d='M142 282.4a14 14 0 00-.3-2.5 5.1 5.1 0 00-2.9-3.4 20.3 20.3 0 00-2-.7 4.7 4.7 0 01-3.2-2.8l-.4-1.7a1.4 1.4 0 00-1.1-1c-.6 0-1.1.5-1.4 1a6 6 0 00-.3 3.7 10.8 10.8 0 001.4 3.3 9.1 9.1 0 004.7 4.2 22.8 22.8 0 012.5.7 7.5 7.5 0 012.9 2.8c0 .2 3 8 3.2 8 .9.4-2.7-8.6-2.8-8.9a11 11 0 01-.4-2.7z' transform='translate(.1 -1.3)' fill='url(#G)')
    path(d='M143.6 285.2a52.4 52.4 0 01-4.5-8 18.7 18.7 0 011.4-16 72.2 72.2 0 014.8-6.3c3.2-4.3 5.6-10 4-15.1-.7-2-2-3.7-2.5-5.7s-.5-4.4 1.1-5.6c1.9-1.5 4.6-.7 6.6.6a22.1 22.1 0 018.2 10.1 39.3 39.3 0 012.7 13c.5 7.7-.6 16-5.3 22.2-2 2.5-4.3 4.6-6 7.3a27.5 27.5 0 00-2.7 14.2 3 3 0 01-.3 1.6c-1.9 3-2.7-2.3-3-3.2-.9-3.2-2.8-6.3-4.5-9z' fill='#0055a4')
    path(d='M143.5 286.5a52.4 52.4 0 01-4.5-8 18.7 18.7 0 011.4-16 72.2 72.2 0 014.7-6.3c3.3-4.3 5.7-10 4-15.1-.6-2-1.8-3.7-2.4-5.7s-.5-4.4 1.1-5.6c1.9-1.5 4.6-.7 6.6.6a22.1 22.1 0 018.2 10.2 39.3 39.3 0 012.7 12.9c.5 7.8-.6 16-5.3 22.3-2 2.4-4.4 4.5-6 7.2a27.5 27.5 0 00-2.7 14.2 3 3 0 01-.3 1.6c-1.9 3-2.7-2.3-3-3.2-.9-3.2-2.8-6.3-4.5-9z' transform='translate(.1 -1.3)' fill='url(#H)')
    path(d='M146.8 286.4a17 17 0 01-1.4-2.5 5.7 5.7 0 01.5-5 20.4 20.4 0 011.4-1.8c1-1.4 1.8-3 1.2-4.7l-.7-1.7a1.6 1.6 0 01.3-1.7 1.8 1.8 0 012 .2 6.8 6.8 0 012.5 3 12 12 0 01.9 4 10.2 10.2 0 01-1.7 7 25.5 25.5 0 00-1.8 2.1 8.4 8.4 0 00-.8 4.4 1 1 0 01-.1.5c-.6.9-.8-.7-1-1a12 12 0 00-1.3-2.8z' transform='translate(.1 -1.3)' fill='url(#I)')
    path(fill='#0055a4' d='M137.3 291.4h26.6l-6.3 20.3h-14.9l-5.4-20.3z')
    path(fill='url(#J)' d='M137.3 291.4h26.6l-6.3 20.3h-14.9l-5.4-20.3z')
    path(fill='#0055a4' d='M136 291.4h28.8v5.7H136z')
    path(fill='url(#K)' d='M136 291.4h28.8v5.7H136z')
